<section class="awards">
    <div class="awards__content">
        <h2 class="awards__heading">
            Университет Иннополис — один из лидеров системы высшего образования
        </h2>
        <div class="awards__cards">
            <div class="awards__large-card">
                <div class="awards__large-card-bg">
                    <img src="/images/awards-bg.svg" alt="" class="awards__large-card-bg-image">
                </div>
                <h3 class="awards__large-card-title">
                    по качеству академической среды в Forbes
                </h3>
            </div>
            <div class="awards__large-card">
                <div class="awards__large-card-bg">
                    <img src="/images/awards-bg.svg" alt="" class="awards__large-card-bg-image">
                </div>
                <h3 class="awards__large-card-title">
                    по качеству академической среды в Forbes
                </h3>
            </div>
            <div class="awards__small-card">
                <div class="awards__small-card-number">
                    5
                </div>
                <div class="awards__small-card-text">
                    место в рейтинге SuperJob по уровню зарплат выпускников
                </div>
            </div>
            <div class="awards__small-card">
                <div class="awards__small-card-number">
                    8
                </div>
                <div class="awards__small-card-text">
                    место в международном рейтинге U-Multirank
                </div>
            </div>
            <div class="awards__small-card">
                <div class="awards__small-card-number">
                    9
                </div>
                <div class="awards__small-card-text">
                    место в Times Higher Education WUR 2025 среди вузов РФ
                </div>
            </div>
            <div class="awards__small-card">
                <div class="awards__small-card-number">
                    10
                </div>
                <div class="awards__small-card-text">
                    место в рейтинге RAEX
                    по ИТ среди вузов
                </div>
            </div>
        </div>

    </div>
</section>