<section class="blog">
  <div class="blog__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Блог</h3>
    </header>

    <div class="article-card__list">
      <div class='article-card'>
        <img class='article-card__image' src='/images/default-article-card.png'
          alt='Дрон для быстрой инспекции промышленных объектов' />
        <h3 class='article-card__title'>Дрон для быстрой инспекции промышленных объектов</h3>
        <span class='tag'>беспилотные технологии</span>
        <p class='article-card__desc'></p>
        <div class="article-card__footer">
          <a href='#' class='btn btn--gray'>
            Читать
          </a>

          <span class="article-card__date">31.05.2025</span>
        </div>
      </div>
      <div class='article-card'>
        <img class='article-card__image' src='/images/default-article-card.png'
          alt='Цифровой помощник для сборки беспилотников' />
        <h3 class='article-card__title'>Цифровой помощник для сборки беспилотников</h3>
        <span class='tag'>роботизация</span>
        <p class='article-card__desc'></p>
        <div class="article-card__footer">
          <a href='#' class='btn btn--gray'>
            Читать
          </a>

          <span class="article-card__date">31.05.2025</span>
        </div>
      </div>
      <div class='article-card'>
        <img class='article-card__image' src='/images/default-article-card.png'
          alt='InnoVtol доставляет анализы крови для исследований на Сахалине' />
        <h3 class='article-card__title'>InnoVtol доставляет анализы крови для исследований на Сахалине</h3>
        <span class='tag'>роботизация</span>
        <p class='article-card__desc'></p>
        <div class="article-card__footer">
          <a href='#' class='btn btn--gray'>
            Читать
          </a>

          <span class="article-card__date">31.05.2025</span>
        </div>
      </div>
      <div class='article-card'>
        <img class='article-card__image' src='/images/default-article-card.png'
          alt='InnoVto: усовершенствовал поиск лесных пожаров' />
        <h3 class='article-card__title'>InnoVto: усовершенствовал поиск лесных пожаров</h3>
        <span class='tag'>беспилотные технологии</span>
        <p class='article-card__desc'></p>
        <div class="article-card__footer">
          <a href='#' class='btn btn--gray'>
            Читать
          </a>

          <span class="article-card__date">31.05.2025</span>
        </div>
      </div>
    </div>

  </div>
</section>