<section class="capabilities">
  <div class="capabilities__content">
    <div class="capabilities__content__header">
      <span class="capabilities__content__header__title">Возможности</span>
      <a class="capabilities__content__header__link">
        <span class="capabilities__content__header__link-text">
          Все возможности
        </span>
        <svg width="16" height="16" aria-hidden="true">
          <use xlink:href="#chevron-right"></use>
        </svg>
      </a>
    </div>
    <div class="capabilities__content__cards">
      <div class="capabilities__content__cards-item">
        <div class="capabilities__content__cards-item__top">
          <span class="capabilities__content__cards-item__title">Бюджет</span>
          <div class="capabilities__content__cards-item__label">
            <span class="capabilities__content__cards-item__label-text">
              ваш приоритет
            </span>
          </div>
        </div>
        <div class="capabilities__content__cards-item__bottom">
          <span class="capabilities__content__cards-item__description">
            Государственная стипендия — до 15 тысяч рублей. Нет оплаты за
            обучение и обязательств по гранту
          </span>
        </div>
      </div>
      <div class="capabilities__content__cards-item">
        <div class="capabilities__content__cards-item__top">
          <span class="capabilities__content__cards-item__title"
            >Бюджет + грант</span
          >
        </div>
        <div class="capabilities__content__cards-item__bottom">
          <span class="capabilities__content__cards-item__description">
            Государственная стипендия — до 15 тысяч рублей. Возможность получать
            стипендию от вуза — до 17 тысяч рублей. Работа в компании-партнере
            или ОЭЗ Иннополис после учебы.
          </span>
        </div>
      </div>
      <div class="capabilities__content__cards-item">
        <div class="capabilities__content__cards-item__top">
          <span class="capabilities__content__cards-item__title">Платное</span>
        </div>
        <div class="capabilities__content__cards-item__bottom">
          <span class="capabilities__content__cards-item__description">
            >60 баллов по каждому из трех предметов. Возможность перевода на
            бюджет. Нет обязательств по гранту
          </span>
        </div>
      </div>
      <div class="capabilities__content__cards-item">
        <div class="capabilities__content__cards-item__top">
          <span class="capabilities__content__cards-item__title"
            >Платное + грант</span
          >
        </div>
        <div class="capabilities__content__cards-item__bottom">
          <span class="capabilities__content__cards-item__description">
            Возможность получасть стипендию от вуза — до 6 тысяч рублей. Скидка
            по гранту от 20% до 100%. Возможность перевода на бюджет. Работа в
            компании-партнере или ОЭЗ Иннополис после учебы.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
