<section class="career">
    <div class="career__content">
        <div class="career__top-row">
            <h2 class="secondary-heading secondary-heading--dark career__heading">
                карьера
            </h2>
            <a href="#" class="btn btn--white career__link">
                О карьере
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="career__bottom-row">
            <div class="career__image-container">
                <img src="/images/career.webp" alt="" class="career__image">
            </div>
            <ul class="career__list">
                <li class="career__list-item">
                    <div class="career__card">
                        <div class="career__card-amount">
                            7890
                        </div>
                        <div class="career__card-text">
                            человек ежедневно<br> находятся в Иннополисе
                        </div>
                    </div>
                </li>
                <li class="career__list-item">
                    <div class="career__card">
                        <div class="career__card-amount">
                            86
                        </div>
                        <div class="career__card-text">
                            пунктов — индекс<br> счастья
                        </div>
                    </div>
                </li>
                <li class="career__list-item">
                    <div class="career__card">
                        <div class="career__card-amount">
                            70%
                        </div>
                        <div class="career__card-text">
                            взрослого населения<br> работают в IT-сфере
                        </div>
                    </div>
                </li>
            </ul>
            <div class="career__text-content">
                <h3 class="career__secondary-heading">
                    Присоединяйтесь к нашей команде
                </h3>
                <div class="career__text">
                    Если вы&nbsp;готовы присоединиться к&nbsp;нашей команде, расстояние не&nbsp;имеет значения:
                    мы&nbsp;поможем вам
                    переехать в&nbsp;<b>Иннополис</b>, найти жилье и&nbsp;познакомиться с&nbsp;городом.
                </div>
                <div class="career__links">
                    <a href="#" class="btn btn--large btn--dark-with-green-outline career__link">
                        Релокация
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="btn btn--large btn--dark-with-green-outline career__link">
                        Вакансии
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="btn btn--large btn--dark-with-green-outline career__link">
                        Стажировки
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="btn btn--large btn--dark-with-green-outline career__link">
                        Подробнее о городе
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#btn-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>