<section class="channel">
    <div class="channel__content">
        <div class="channel__card">
            <div class="channel__card-bg">
                <img src="/images/channel.webp" alt="" class="channel__card-bg-image">
            </div>
            <h2 class="medium-heading channel__heading">
                Подписывайтесь на телеграм-канал
            </h2>
            <div class="channel__text">
                чтобы узнать больше о возможностях онлайн-магистратуры
            </div>
            <a href="#" class="btn btn--white channel__btn">
                Подписаться
            </a>
        </div>
    </div>
</section>