<section class="cooperation">
  <div class="cooperation__content">
    <h3 class="cooperation__content__title">
      Академическое сотрудничество с ведущими вузами мира
    </h3>
    <div class="cooperation__content__info">
      <div class="cooperation__description">
        <p>
          Университет Иннополис сотрудничает с крупнейшими вузами и научными
          институтами для синергии российской фундаментальной науки и лучших
          зарубежных практик.<br /><br />
          Мы развиваем образовательную и исследовательскую систему высокого
          класса, соблюдая международные академические стандарты.
        </p>
      </div>
      <div class="cooperation__content__info__slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
              <div class="cooperation__universities__block">
                <h4 class="cooperation__universities__block__title">БРИКС</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/China"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Пекинский технологический институт</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/China"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Пекинский технологический институт</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/China"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Юго-западный университет</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/India"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Индийский технологический институт Мадраса</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/India"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Институт технологии и науки Маданапалле</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Brazile"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Федеральный университет Минас-Жерайса</span
                    >
                  </div>
                </div>
              </div>

              <!-- Блок Азия -->
              <div class="cooperation__universities__block">
                <h4 class="cooperation__universities__block__title">Азия</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Korea"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Корейский институт передовых технологий</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Korea"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Сеульский национальный университет</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Korea"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Университет Ханянг</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Singapoure"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Национальный университет Сингапура</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Malaysia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Университет Путра</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Malaysia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Университет Мультимедиа</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Malaysia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Университет Сайберджа</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Indonesia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Университет Телком</span
                    >
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Indonesia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name"
                      >Технологический институт Сурабая</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-2">
              <div class="cooperation__universities__block">
                <h4 class="cooperation__universities__block__title">Европа</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Switzerland"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Европейская организация по ядерным исследованиям — ЦЕРН
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Switzerland"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Швейцарская высшая техническая школа Цюриха
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Spain"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Политехнический Университет Каталонии
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/italy"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Римский университет Ла Сапиенца
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/italy"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Болонский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/italy"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Университет Л'Акуила
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/italy"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Мессинский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/France"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Технологический институт Гренобля
                    </span>
                  </div>
                </div>
              </div>
              <div class="cooperation__universities__block">
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/France"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Университет Лазурного берега
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Luxemburg"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Люксембургский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Malta"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Мальтийский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Belgrad"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Белградский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Belgrad"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Нови-Садский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Belgrad"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Университет Сингидунум
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Slovenia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Люблянский университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Turkey"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Ближневосточный технический университет
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide slide-3">
              <div class="cooperation__universities__block">
                <h4 class="cooperation__universities__block__title">СНГ</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/KZ"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Международный университет информационных технологий
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/KZ"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Казахстанско-Британский технический университет
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Belorus"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Белорусский государственный университет информатики и
                      радиоэлектроники
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Belorus"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Белорусский государственный университет информатики и
                      радиоэлектроники
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/UZB"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Университет Инха в Ташкенте
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/UZB"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Туринский политехнический университет в Ташкенте
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/UZB"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Ташкентский университет информационных технологий имени
                      Мухаммада ал-Хоразмий
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Kirgizia"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Международный университет Ала-Тоо
                    </span>
                  </div>
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Azerba"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Ада Университет
                    </span>
                  </div>
                </div>
              </div>
              <div class="cooperation__universities__block">
                <h4 class="cooperation__universities__block__title">Африка</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/Africa"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Государственный университет Лагоса
                    </span>
                  </div>
                </div>

                <h4 class="cooperation__universities__block__title">Америка</h4>
                <div class="cooperation__universities__block__list">
                  <div class="cooperation__university">
                    <div class="cooperation__university__flag">
                      <svg width="22" height="16" aria-hidden="true">
                        <use xlink:href="#flags/USA"></use>
                      </svg>
                    </div>
                    <span class="cooperation__university__name">
                      Университет Карнеги-Меллон
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrows cooperation__slider-arrows">
          <button
            class="slider-arrows__btn slider-arrows__btn--prev"
            type="button"
          >
            <svg
              width="14"
              height="11"
              aria-hidden="true"
              class="icon-arrow-right"
            >
              <use xlink:href="#slider-arrow-left"></use>
            </svg>
          </button>
          <button
            class="slider-arrows__btn slider-arrows__btn--next"
            type="button"
          >
            <svg
              width="14"
              height="11"
              aria-hidden="true"
              class="icon-arrow-right"
            >
              <use xlink:href="#slider-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
