<section class="corporate-life" aria-labelledby="corporate-life__title">
  <div class="corporate-life__container">
    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Корпоративная жизнь</h3>
    </header>

    <div class="corporate-life__content">
      <div class="corporate-life__left">
        <div class="corporate-life__item">
          <img class="corporate-life__item-icon" src="/images/corporate-life/wow-icon-check.png" alt="">
          <h3 class="corporate-life__item-title text--l-s">Вы — часть Future Simple Team</h3>
          <p class="corporate-life__item-text text--m-m">
            Весёлые мероприятия, увлекательные лекции, квесты и квизы станут частью ваших рабочих будней.
          </p>
        </div>

        <div class="corporate-life__item">
          <img class="corporate-life__item-icon" src="/images/corporate-life/wow-icon-check.png" alt="">
          <h3 class="corporate-life__item-title text--l-s">Внутреннее обучение</h3>
          <p class="corporate-life__item-text text--m-m">
            Скидки на курсы, участие в конференциях и образовательных мероприятиях университета.
          </p>
        </div>

        <div class="corporate-life__item">
          <img class="corporate-life__item-icon" src="/images/corporate-life/wow-icon-check.png" alt="">
          <h3 class="corporate-life__item-title text--l-s">Чем бы вы ни увлекались</h3>
          <p class="corporate-life__item-text text--m-m">
            Студенты и сотрудники организовали десятки клубов по интересам: сможете найти единомышленников или
            запустить свой клуб.
          </p>
        </div>
      </div>

      <div class="corporate-life__slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/corporate-life/slide-1.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/corporate-life/slide-2.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/corporate-life/slide-3.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/corporate-life/slide-4.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="/images/corporate-life/slide-5.png" alt="">
            </div>
          </div>
        </div>
        <div class="corporate-life__controls">
          <button class="slider-arrows__btn corporate-life__control--prev" type="button" aria-label="Предыдущий слайд">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
              <use xlink:href="#slider-arrow-left"></use>
            </svg>
          </button>
          <button class="slider-arrows__btn corporate-life__control--next" type="button" aria-label="Следующий слайд">
            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
              <use xlink:href="#slider-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>