<section class="education">
    <div class="education__content">
        <div class="education__top-row">
            <h2 class="secondary-heading secondary-heading--dark education__heading">
                ОБРАЗОВАНИЕ
            </h2>
            <a href="#" class="btn btn--white career__link">
                Об образовании
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="education__bottom-row">
            <div class="education__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="education__program-card">
                                <div class="education__program-card-type">
                                    бакалавриат
                                </div>
                                <h3 class="education__program-card-title">
                                    AI360: Инженерия данных
                                </h3>
                                <div class="education__program-card-text">
                                    Первая в&nbsp;России образовательная программа для будущих архитекторов
                                    и&nbsp;исследователей
                                    ИИ. Запущена в&nbsp;партнерстве с&nbsp;Яндексом и&nbsp;Сбером. Объединяет опыт
                                    ведущих техкомпаний
                                    и&nbsp;экспертизу топовых вузов.
                                </div>
                                <div class="education__program-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline education__program-card-btn">
                                        Подробнее о программе
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn education__program-card-btn">
                                        Все программы бакалавриата
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="education__program-card">
                                <div class="education__program-card-type">
                                    бакалавриат
                                </div>
                                <h3 class="education__program-card-title">
                                    Математические основы искусственного интеллекта
                                </h3>
                                <div class="education__program-card-text">
                                    Образовательная программа для тех, кто хочет не&nbsp;только работать
                                    с&nbsp;искусственным
                                    интеллектом, но&nbsp;и&nbsp;создавать его.
                                </div>
                                <div class="education__program-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline education__program-card-btn">
                                        Подробнее о программе
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn education__program-card-btn">
                                        Все программы бакалавриата
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="education__program-card">
                                <div class="education__program-card-type">
                                    магистратура
                                </div>
                                <h3 class="education__program-card-title">
                                    Искусственный интеллект и инженерия данных
                                </h3>
                                <div class="education__program-card-text">
                                    Образовательная программа углубленного изучения современных технологий
                                    искусственного интеллекта и&nbsp;практических аспектов работы с&nbsp;данными.
                                    Ключевым фокусом
                                    является машинное обучение.
                                </div>
                                <div class="education__program-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline education__program-card-btn">
                                        Подробнее о программе
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn education__program-card-btn">
                                        Все программы магистратуры
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="education__program-card">
                                <div class="education__program-card-type">
                                    магистратура
                                </div>
                                <h3 class="education__program-card-title">
                                    Инженерия безопасности систем и сетей
                                </h3>
                                <div class="education__program-card-text">
                                    Образовательная программа для специалистов в&nbsp;области компьютерной
                                    и&nbsp;сетевой
                                    безопасности. Сочетает фундаментальное образование и&nbsp;практико-ориентированный
                                    подход
                                    с&nbsp;реальными задачами.
                                </div>
                                <div class="education__program-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline education__program-card-btn">
                                        Подробнее о программе
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn education__program-card-btn">
                                        Все программы магистратуры
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="education__program-card">
                                <div class="education__program-card-type">
                                    очная онлайн-магистратура
                                </div>
                                <h3 class="education__program-card-title">
                                    Управление на основе данных
                                </h3>
                                <div class="education__program-card-text">
                                    Универсальная образовательная программа для будущих управленцев и&nbsp;организаторов
                                    в
                                    сфере информационных технологий.
                                </div>
                                <div class="education__program-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline education__program-card-btn">
                                        Подробнее о программе
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn education__program-card-btn">
                                        Все программы онлайн-магистратуры
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrows education__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--dark slider-arrows__btn--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--dark slider-arrows__btn--next" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="education__cards">
                <a href="#" class="education__large-card">
                    Приёмная кампания
                    <span class="education__large-card-arrow">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </span>
                </a>
                <a href="#" class="education__small-card">
                    <div class="education__small-card-image-container">
                        <img src="/images/education/1.webp" alt="" class="education__small-card-image">
                    </div>
                    Поступление по&nbsp;гранту
                </a>

                <a href="#" class="education__small-card">
                    <div class="education__small-card-image-container">
                        <img src="/images/education/2.webp" alt="" class="education__small-card-image">
                    </div>
                    День открытых дверей
                </a>
                <a href="#" class="education__small-card">
                    <div class="education__small-card-image-container">
                        <img src="/images/education/3.webp" alt="" class="education__small-card-image">
                    </div>
                    Поступление по&nbsp;олимпиадам
                </a>

            </div>
        </div>
    </div>
</section>