<section class="employment">
    <div class="employment__content">
        <div class="employment__top-row">
            <h2 class="medium-heading employment__heading">
                Трудоустройство выпускников
            </h2>
            <div class="employment__text">
                В 2024 году 100% выпускников получили приглашения на работу от компаний-партнеров Университета
                Иннополис:
            </div>
        </div>
        <ul class="employment__list">
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/1.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/2.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/3.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/4.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/5.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/6.webp" alt="" class="employment__card-image">
                </div>
            </li>
            <li class="employment__list-item">
                <div class="employment__card">
                    <img src="/images/employment/7.webp" alt="" class="employment__card-image">
                </div>
            </li>
        </ul>
    </div>
</section>