<section class="events">
    <div class="events__content">
        <div class="events__top-row">
            <h2 class="secondary-heading events__heading">
                МЕРОПРИЯТИЯ
            </h2>
            <a href="#" class="btn btn--white-with-green-outline">
                Все мероприятия
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <ul class="events__list">
            <li class="events__list-item events__list-item--large">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 июня в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>
                    <div class="events__card-image-container">
                        <img src="/images/event.webp" alt="" class="events__card-image">
                    </div>
                </a>
            </li>
            <li class="events__list-item">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4-5 мая в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>
                    <div class="events__card-text">
                        лекция Фёдора Стонякина «Об одном современном аналоге условия гладкости в оптимизации»
                    </div>
                </a>
            </li>
            <li class="events__list-item">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 мая в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>
                    <div class="events__card-tags">
                        <div class="events__card-tag">
                            бизнесу
                        </div>
                        <div class="events__card-tag">
                            образование
                        </div>
                    </div>
                    <div class="events__card-text">
                        лекция Фёдора Стонякина «Об одном современном аналоге условия гладкости в оптимизации» 
                    </div>
                </a>
            </li>
            <li class="events__list-item">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 мая в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>
                    <div class="events__card-tags">
                        <div class="events__card-tag">
                            бизнесу
                        </div>
                        <div class="events__card-tag">
                            образование
                        </div>
                    </div>
                    <div class="events__card-text">
                        лекция Фёдора Стонякина «Об одном современном аналоге условия гладкости в оптимизации» 
                    </div>
                </a>
            </li>
            <li class="events__list-item">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 мая в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>
                    <div class="events__card-tags">
                        <div class="events__card-tag">
                            бизнесу
                        </div>
                        <div class="events__card-tag">
                            образование
                        </div>
                    </div>
                    <div class="events__card-text">
                        лекция Фёдора Стонякина «Об одном современном аналоге условия гладкости в оптимизации» 
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>