<section class="faculties">
  <div class="faculties__content">
    <div class="faculties__content__faculty humanities-faculty">
      <h2 class="faculties__content__faculty__title">
        Факультет гуманитарных и социальных наук
      </h2>
      <div class="faculties__content__faculty__dean">
        <img
          src="/images/ozhirosh.webp"
          alt="Оксана Жирош"
          class="faculties__content__faculty__dean__photo"
        />
        <div class="faculties__content__faculty__dean__info">
          <span class="faculties__content__faculty__dean__info__name"
            >Оксана Жирош</span
          >
          <span class="faculties__content__faculty__dean__info__position"
            >декан факультета, директор по развитию гуманитарных и социальных
            наук</span
          >
          <span class="faculties__content__faculty__dean__info__email"
            >o.zhirosh@innopolis.ru</span
          >
        </div>
      </div>
      <div class="faculties__content__faculty__labs">
        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content_faculty__labs-item__title">
              Лаборатория социальных наук
            </h3>
            <p class="faculties__content_faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name"
            >
              Руслан Садуов
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Лаборатория гуманитарных наук
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name"
            >
              Александра Васильева
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Лаборатория взаимодействия человек и компьютер
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name"
            >
              Артур Каримов
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Школа физической культуры и ЗОЖ
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name"
            >
              Эдуард Шаймарданов
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faculties__content__faculty ingenery-faculty multy-university">
      <h2 class="faculties__content__faculty__title">
        Факультет компьютерных и инженерных наук
      </h2>
      <div class="faculties__content__faculty__dean">
        <img
          src="/images/mmazzara.webp"
          alt="Мануэль Маццара"
          class="faculties__content__faculty__dean__photo"
        />
        <div class="faculties__content__faculty__dean__info">
          <span class="faculties__content__faculty__dean__info__name"
            >Мануэль Маццара</span
          >
          <span class="faculties__content__faculty__dean__info__position"
            >декан факультета, руководитель отдела международного и
            академического сотрудничества</span
          >
          <span class="faculties__content__faculty__dean__info__email"
            >m.mazzara@innopolis.ru</span
          >
        </div>
      </div>
      <div class="faculties__content__faculty__multy-university-labs">
        <!-- Институт информационной безопасности -->
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт информационной безопасности
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория информационной безопасности
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Игорь Аникин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория облачных систем и технологий виртуализации
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Артем Бурмяков
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория сетей и блокчейн технологий
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Анна Мелехова
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория фундаментальных научных исследований
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Елена Корнаева
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Институт разработки ПО и программной инженерии -->
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт разработки ПО и программной инженерии
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория промышленной разработки ПО
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Лаборатория производства промышленного ПО проводит
                  исследования в области программной инженерии, занимается
                  разработкой и применением эмпирических методов в исследовании
                  программных продуктов для повышения их качества.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Андрей Садовых
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория программной инженерии
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Разработке теорий, методов, инструментов и программ,
                  охватывающих два основных аспекта разработки программного
                  обеспечения: процесс, описывающий, как мы разрабатываем
                  программное обеспечение, и продукт, описывающий результаты
                  этого процесса.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Николай Шилов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория искусственного интеллекта в разработке игр
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Лаборатория занимается разработкой технологий по привлечению
                  любителей компьютерных игр к взаимодействию с искусственным
                  интеллектом посредством игрового пространства (видеоигры,
                  настольные игры, математические и развивающие игры).
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Мунир Махмутов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория киберфизических систем
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Команда лаборатории киберфизических систем — эксперты из
                  областей разработки программного обеспечения, анализа данных,
                  математического моделирования.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Мохаммад Реза Бахрами
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория методов обработки естественного языка в
                  программной инженерии
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Владимир Иванов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория языков программирования и компиляторов
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Языки программирования (ЯП) вместе с соответствующим
                  инструментарием (компиляторы, системы поддержки периода
                  выполнения, редакторы связей, библиотеки) представляют собой
                  ключевой аспект разработки любого ПО.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Евгений Зуев
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Институт анализа данных и искусственного интеллекта -->
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт анализа данных и искусственного интеллекта
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория машинного обучения и представления данных
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Задача машинного обучения: чтобы компьютеры учились на данных
                  из окружающего мира, как это делает человек. За последние годы
                  в этой области произошла революция.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Алла Алдин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория математических основ распределенного и
                  федеративного обучения
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Александр Безносиков
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория инновационных технологий обработки видеоконтента
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Дмитрий Ватолин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория высокопроизводительных вычислений
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Иван Конюхов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория квантовых вычислений
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Цель лаборатории — проведение передовых исследований в области
                  квантовых вычислений с использованием как прикладных, так и
                  теоретических подходов для получения значимых результатов,
                  которые не только интересны для научного сообщества, но и
                  применимы в повседневной жизни.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Ярослав Холодов
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Институт робототехники и киберфизических систем -->
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт робототехники и киберфизических систем
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория интеллектуальных робототехнических систем
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Лаборатория ведет исследования в области проектирования и
                  разработки интеллектуальных мехатронных модулей, приводов и
                  датчиков, систем носимой робототехники и экзоскелетов,
                  тросовых и кабельных роботов, телеуправления и
                  человеко-машинного взаимодействия.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Илья Афанасьев
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория дизайна электронных систем и автоматизации
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name"
                >
                  Алексей Овсянников
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
