<section class="faculties">
  <div class="faculties__content">
    <div class="faculties__content__faculty humanities-faculty">
      <h2 class="faculties__content__faculty__title title-2xl">
        Факультет гуманитарных и социальных наук
      </h2>
      <div class="faculties__content__faculty__dean">
        <img
          src="/images/ozhirosh.webp"
          alt="Оксана Жирош"
          class="faculties__content__faculty__dean__photo"
        />
        <div class="faculties__content__faculty__dean__info">
          <span class="faculties__content__faculty__dean__info__name text--m-m"
            >Оксана Жирош</span
          >
          <span
            class="faculties__content__faculty__dean__info__position text-base--m"
            >декан факультета, директор по развитию гуманитарных и социальных
            наук</span
          >
          <a
            href="mailto:o.zhirosh@innopolis.ru"
            class="faculties__content__faculty__dean__info__email text-base--m"
            >o.zhirosh@innopolis.ru</a
          >
        </div>
      </div>
      <div class="faculties__content__faculty__labs">
        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Лаборатория социальных наук
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title text-base--m text-base--m"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
            >
              Руслан Садуов
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Лаборатория гуманитарных наук
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
            >
              Александра Васильева
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Лаборатория взаимодействия человека и компьютера
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
            >
              Артур Каримов
            </span>
          </div>
        </div>

        <div class="faculties__content__faculty__labs-item">
          <div class="faculties__content__faculty__labs-item__info">
            <h3 class="faculties__content__faculty__labs-item__title">
              Школа физической культуры и ЗОЖ
            </h3>
            <p class="faculties__content__faculty__labs-item__description">
              Некоторая информация о деятельности лаборатории в виде небольшого
              абзаца текста.
            </p>
          </div>
          <div class="faculties__content__faculty__labs-item__supervisor">
            <span
              class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
            >
              Руководитель лаборатории
            </span>
            <span
              class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
            >
              Эдуард Шаймарданов
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faculties__content__faculty ingenery-faculty multy-university">
      <h2 class="faculties__content__faculty__title">
        Факультет компьютерных и инженерных наук
      </h2>
      <div class="faculties__content__faculty__dean">
        <img
          src="/images/mmazzara.webp"
          alt="Мануэль Маццара"
          class="faculties__content__faculty__dean__photo"
        />
        <div class="faculties__content__faculty__dean__info">
          <span class="faculties__content__faculty__dean__info__name"
            >Мануэль Маццара</span
          >
          <span class="faculties__content__faculty__dean__info__position"
            >декан факультета, руководитель отдела международного и
            академического сотрудничества</span
          >
          <a
            href="mailto:m.mazzara@innopolis.ru"
            class="faculties__content__faculty__dean__info__email"
            >m.mazzara@innopolis.ru</a
          >
        </div>
      </div>
      <div class="faculties__content__faculty__multy-university-labs">
        <!-- Институт информационной безопасности -->
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт информационной безопасности
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория информационной безопасности
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Игорь Аникин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория облачных систем и технологий виртуализации
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Артем Бурмяков
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория сетей и блокчейн технологий
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Анна Мелехова
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория фундаментальных научных исследований
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Елена Корнаева
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт разработки ПО и программной инженерии
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория промышленной разработки ПО
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Исследования в области программной инженерии разработка и
                  применение эмпирических методов в исследовании программных
                  продуктов для повышения их качества.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Андрей Садовых
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория программной инженерии
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Разработка теорий, методов, инструментов и программ,
                  охватывающих два основных аспекта разработки ПО: процесс,
                  описывающий разработку ПО, и продукт, описывающий результаты
                  этого процесса.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Мануэль Маццара
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория искусственного интеллекта в разработке игр
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Разработка технологий по привлечению любителей компьютерных
                  игр к взаимодействию с искусственным интеллектом через игровое
                  пространство — видеоигры, настольные игры, математические и
                  развивающие игры
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Мунир Махмутов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория киберфизических систем
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Исследования agile-подходов и применение в киберфизических
                  системах в индустриальном контексте, разработкаи анализ
                  моделей, которые могут применяться при использовании
                  киберфизических систем — предсказание неудачи, обнаружение
                  отклонений, математическое моделирование
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Мохаммад Реза Бахрами
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория методов обработки естественного языка в
                  программной инженерии
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Владимир Иванов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория языков программирования и компиляторов
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Исследования, связанные с анализом всех аспектов языков
                  программирования — общий дизайн, статическая и динамическая
                  семантика, вопросы компиляции и интерпретации и многое другое.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Евгений Зуев
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт анализа данных и искусственного интеллекта
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория машинного обучения и представления данных
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Разработка алгоритмов машинного обучения для беспилотных
                  автомобилей, пользовательских интерфейсов с функцией поддержки
                  речи, автоматического анализа медицинских изображений,
                  веб-поисковых систем, рекомендательных систем,
                  кибербезопасности
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Алла Алдин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория математических основ распределенного и
                  федеративного обучения
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории в виде
                  небольшого абзаца текста.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Александр Безносиков
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория инновационных технологий обработки видеоконтента
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Дмитрий Ватолин
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория высокопроизводительных вычислений
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Нужно описание.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Иван Конюхов
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория квантовых вычислений
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Передовые исследования в области квантовых вычислений с
                  использованием как прикладных, так и теоретических подходов
                  для получения значимых результатов, которые применимы в
                  повседневной жизни.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Андрей Флоров
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="faculties__content__faculty__university">
          <div class="faculties__content__faculty__university__header">
            <h3 class="faculties__content__faculty__university__title">
              Институт робототехники и киберфизических систем
            </h3>
            <button
              class="faculties__content__faculty__university__toggle"
              type="button"
              aria-label="Развернуть институт"
            ></button>
          </div>
          <div class="faculties__content__faculty__university-labs">
            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория интеллектуальных робототехнических систем
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Исследования в области проектирования и разработки
                  интеллектуальных мехатронных модулей, приводов и датчиков,
                  систем носимой робототехники и экзоскелетов, тросовых и
                  кабельных роботов, телеуправления и человеко-машинного
                  взаимодействия.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Илья Афанасьев
                </span>
              </div>
            </div>

            <div class="faculties__content__faculty__labs-item">
              <div class="faculties__content__faculty__labs-item__info">
                <h4 class="faculties__content__faculty__labs-item__title">
                  Лаборатория дизайна электронных систем и автоматизации
                </h4>
                <p class="faculties__content__faculty__labs-item__description">
                  Некоторая информация о деятельности лаборатории.
                </p>
              </div>
              <div class="faculties__content__faculty__labs-item__supervisor">
                <span
                  class="faculties__content__faculty__labs-item__supervisor__title text-base--m"
                >
                  Руководитель лаборатории
                </span>
                <span
                  class="faculties__content__faculty__labs-item__supervisor__name text-base--m"
                >
                  Алексей Овсянников
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
