<section class="faq">
    <img src="/images/faq-bg.svg" alt="" class="faq__bg">
    <div class="faq__content">
        <h2 class="medium-heading faq__heading">
            Часто задаваемые вопросы
        </h2>
        <ul class="faq__accordions-list">
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Какие экзамены нужно сдавать при поступлении?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Какие документы нужны для поступления?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Какие навыки я получу на курсе?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Чем отличаются программы обучения на этом курсе?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Можно ли совмещать учебу с работой?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Какая средняя зарплата выпускников?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Для этого курса мы разработали три программы:
                                    </p>
                                    <ul>
                                        <li>
                                            Обучение ручному тестированию. Эта программа подойдёт для начала изучения
                                            тестирования и&nbsp;первых шагов в&nbsp;профессии, учёба длится
                                            4&nbsp;месяца. После вы&nbsp;сможете найти работу как специалист
                                            по&nbsp;ручному тестированию (manual QA-engineer), для этого не&nbsp;нужны
                                            навыки работы с&nbsp;кодом.
                                        </li>
                                        <li>
                                            Базовая программа длится 8&nbsp;месяцев. При обучении на&nbsp;ней сначала
                                            изучите ручное тестирование, затем выберете язык программирования для
                                            автоматизации: Python или Java. После курса вы&nbsp;станете инженером
                                            по&nbsp;автоматизированному тестированию (QA-engineer) уровня junior:
                                            сможете устроиться на&nbsp;стартовые позиции в&nbsp;найм или самостоятельно
                                            искать проекты на&nbsp;фрилансе.
                                        </li>
                                        <li>
                                            Расширенная программа включает модули по&nbsp;ручному тестированию
                                            и&nbsp;автоматизации, а&nbsp;также дополнительные модули на&nbsp;продвинутые
                                            темы. После 14&nbsp;месяцев обучения вы&nbsp;станете тестировщиком уровня
                                            middle, сможете найти работу в&nbsp;айти или любой другой сфере.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>