<section class="faq">
    <img src="/images/faq-bg.svg" alt="" class="faq__bg">
    <div class="faq__content">
        <h2 class="medium-heading faq__heading">
            Часто задаваемые вопросы
        </h2>
        <ul class="faq__accordions-list">
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            По каким предметам нужно сдать ЕГЭ?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Необходимо сдать ЕГЭ по трем предметам: математика (профиль), русский язык, а
                                        также информатику или физику на выбор.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Какие сроки приемной кампании?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Приемная кампания начинается с 20 июня и длится до 23 августа 2025
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Есть ли образовательный кредит?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Да. Подробные условия образовательного кредита с господдержкой по ставке 3%:
                                        от <a href="#">Т-Банка</a>, <a href="#">от Сбера</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Перечень документов для зачисления
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <ul>
                                        <li>
                                            Копия заполненных страниц паспорта
                                        </li>
                                        <li>
                                            Аттестат/диплом (аттестат+приложение/ диплом+приложение для выпускников
                                            средне-специальных учебных заведений (СПО)
                                        </li>
                                        <li>
                                            2 фотографии, размер 3*4, цветные на белом фоне (без уголка)
                                        </li>
                                        <li>
                                            Копия военного билета или приписного свидетельства (для кандидатов мужского
                                            пола)
                                        </li>
                                        <li>
                                            Копия ИНН
                                        </li>
                                        <li>
                                            Копия СНИЛС
                                        </li>
                                        <li>
                                            Справка по форме 086у
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Отсрочка от призыва на военную службу
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Отсрочка от призыва граждан на военную службу предоставляется обучающимся
                                        образовательных программ бакалавриата и магистратуры (если вы поступили в
                                        магистратуру сразу же после обучения в бакалавриате), а также аспирантуры по
                                        очной форме обучения и имеющей аккредитацию.
                                    </p>
                                    <p>
                                        Это регламентируется подпунктом «а» части 2 статьи 24 Федерального закона от
                                        28.03.1998 № 53-ФЗ «О воинской обязанности и военной службе».
                                    </p>
                                    <p>
                                        Если у вас была отсрочка при обучении на соответствующем уровне образования, то
                                        повторно она не предоставляется. Если отсрочка была при обучении на СПО, то при
                                        поступлении на бакалавриат отсрочка не сохраняется.
                                    </p>
                                    <p>
                                        Осенью студентов Университета в установленном порядке ставят на воинский учет в
                                        Верхнем Услоне Республики Татарстан. Дополнительно информацию сообщат после
                                        поступления.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Кто может подать заявку на обучение на 1 курсе бакалавриата?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        В качестве абитуриентов на бакалавриат мы ожидаем как граждан России, так и
                                        представителей зарубежных стран.
                                    </p>
                                    <ul>
                                        <li>
                                            Граждане РФ:
                                        </li>
                                        <li>
                                            выпускники 11 класса;
                                        </li>
                                        <li>
                                            выпускники колледжей с дипломами о среднем профессиональном образовании*
                                        </li>
                                    </ul>
                                    <p>
                                        Граждане стран СНГ, поступающие в университет, также должны принадлежать к одной
                                        из вышеуказанных категорий. Сдавать ЕГЭ этим абитуриентам не требуется, они
                                        будут зачислены по результатам грантового конкурса и внутренних вступительных
                                        испытаний Университета Иннополис.
                                    </p>
                                    <p>
                                        *Эта категория выпускников зачисляется при наличии выигранного гранта, диплома и
                                        действующих баллах ЕГЭ или по результатам внутренних вступительных испытаний
                                        Университета Иннополис.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Могу ли я обучаться за счет собственных средств?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Да, в Университете Иннополис можно получить образование на коммерческой основе.
                                        Для этого необходимо предъявить результаты ЕГЭ и внести оплату. Участвовать в
                                        грантовом конкурсе Университета Иннополис при этом не обязательно, но
                                        рекомендуется.
                                    </p>
                                    <p>
                                        Также есть возможность выиграть грант от 20 до 100% при успешном прохождении
                                        грантового конкурса и получении необходимого количества баллов на ЕГЭ.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Предусмотрены ли бюджетные места?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        Да. В Университете Иннополис есть возможность обучаться на бюджете.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="faq__accordions-list-item">
                <div class="accordion">
                    <button class="accordion__btn" type="button">
                        <span class="accordion__btn-text">
                            Что такое грант, что он дает и зачем участвовать в грантовом конкурсе?
                        </span>
                        <span class="accordion__btn-icon">

                        </span>
                    </button>
                    <div class="accordion__dropdown">
                        <div class="accordion__dropdown-inner">
                            <div class="accordion__content">
                                <div class="accordion__text">
                                    <p>
                                        У обладателей гранта Университета Иннополис, кто не попал на бюджетные места,
                                        есть возможность учиться бесплатно или на частичном <a href="#">гранте</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>