<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__col">
            <a href="#" class="page-footer__logo">
                <img src="/images/logo.svg" width="172" alt="" class="page-footer__logo-image">
            </a>
            <div class="page-footer__copyright">
                © 2010–2025<br>
                АНО ВО Университет Иннополис
            </div>
        </div>
        <div class="page-footer__col">
            <div class="page-footer__contacts">
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:+78432039253" class="page-footer__contacts-link">
                            +7 843 203-92-53
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="mailto:university@innopolis.ru" class="page-footer__contacts-link">
                            university@innopolis.ru
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-link">
                            420500, г. Иннополис,<br>
                            ул. Университетская, 1
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-footer__social">
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            VK
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            Telegram
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            Youtube
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            VK Video
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__col">
            <div class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Об университете
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Образование
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Дополнительное образование
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Технологии
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Наука
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Вакансии
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Мерч
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Виртуальная экскурсия
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__col">
            <div class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Сведения об образовательной организации
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Аккредитация ИТ-компании
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Политика конфиденциальности
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Антитеррористическая деятельность
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Министерство цифрового развития, связи и массовых коммуникаций РФ
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Министерство науки и высшего образования Российской Федерации
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Министерство просвещения Российской Федерации
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>