<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/logo.svg" alt="Лого" class="page-header__logo-image">
        </a>
        <div class="page-header__btns">
            <a href="#" class="btn btn--small btn--white page-header__btn">
                Меню
            </a>
            <a href="#" class="btn btn--small btn--white page-header__btn">
                EN
            </a>
            <a href="#" class="btn btn--small btn--white page-header__btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                    <use xlink:href="#eye"></use>
                </svg>
            </a>
        </div>
        <a href="#" class="btn btn--small btn--white page-header__btn page-header__login-btn">
            Войти
        </a>
    </div>
</header>