<section class="home-intro">
    <div class="home-intro__content">
        <div class="home-intro__text-content">
            <h1 class="home-intro__heading">
                Образование, исследования
                и&nbsp;разработки в&nbsp;ИТ и&nbsp;робототехнике <b>в&nbsp;Университете Иннополис</b>
            </h1>
            <ul class="home-intro__awards-list">
                <li class="home-intro__awards-list-item">
                    <div class="home-intro__awards-card">
                        <div class="home-intro__awards-card-place">
                            1 место
                        </div>
                        <div class="home-intro__awards-card-text">
                            в Forbes по качеству академической среды
                        </div>
                    </div>
                </li>
                <li class="home-intro__awards-list-item">
                    <div class="home-intro__awards-card">
                        <div class="home-intro__awards-card-place">
                            3 место
                        </div>
                        <div class="home-intro__awards-card-text">
                            в рейтинге по качеству приёма в вузы РФ
                        </div>
                    </div>
                </li>
                <li class="home-intro__awards-list-item">
                    <div class="home-intro__awards-card">
                        <div class="home-intro__awards-card-place">
                            9 место
                        </div>
                        <div class="home-intro__awards-card-text">
                            в Times Higher Education WUR 2025 среди вузов РФ
                        </div>
                    </div>
                </li>
            </ul>
            <div class="home-intro__nav">
                <ul class="home-intro__nav-list">
                    <li class="home-intro__btns-nav-list-item">
                        <a href="#" class="btn btn--large btn--green home-intro__btn">
                            выбрать обучение
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-intro__btns-nav-list-item">
                        <a href="#" class="btn btn--large btn--green home-intro__btn">
                            заказать проект
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="home-intro__btns-nav-list-item">
                        <a href="#" class="btn btn--large btn--green home-intro__btn">
                            стать частью команды
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="home-intro__video-wrapper">
            {{!-- <img src="/images/home-intro/preview.webp" alt="" class="home-intro__video-preview-image"> --}}
            <video src="/video/intro.mp4" loop="" muted="" autoplay="" playsinline=""
                poster="/images/home-intro/preview.webp"></video>
        </div>
    </div>
</section>