<section class='key-industries'>
  <div class='key-industries__content'>
    <header class='key-industries__header'>
      <h2 class='key-industries__title headline--bold'>
        Мы создаем цифровые и производственные решения <br /> для ключевых отраслей экономики
      </h2>
      <p class='key-industries__description'>
        Обширная научная экспертиза позволяет нам разрабатывать, внедрять <br /> и поддерживать инновационные продукты,
        решающие сложнейшие бизнес-задачи.
      </p>
    </header>

    <div class="key-industries__grid">
      <div class="key-industries__card key-industries__card--indigo-blue">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#unmanned-technologies"></use>
        </svg>
        <div class="key-industries__name">Беспилотные технологии</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--sky-blue">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#artificial-intelligence"></use>
        </svg>
        <div class="key-industries__name">Искусственный интеллект</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--teal">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#geospatial-solutions"></use>
        </svg>
        <div class="key-industries__name">Геопространственные решения</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--purple">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#robotics"></use>
        </svg>
        <div class="key-industries__name">Робототехника</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--orange">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#oil-gas-technologies"></use>
        </svg>
        <div class="key-industries__name">Нефтегазовые технологии</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--yellow">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#energy"></use>
        </svg>
        <div class="key-industries__name key-industries__name--black">Энергетика</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--lime-green">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#information-security"></use>
        </svg>
        <div class="key-industries__name key-industries__name--black">Информационная безопасность</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
      <div class="key-industries__card key-industries__card--purple">
        <svg class="key-industries__icon" width="56" height="56" aria-hidden="true">
          <use xlink:href="#robotics"></use>
        </svg>
        <div class="key-industries__name">Разработка ПО</div>
        <button class="btn btn--gray">
          Подробнее
        </button>
      </div>
    </div>
  </div>
</section>