<section class="leadprojects">
  <div class="leadprojects__content">
    <h2 class="leadprojects__content__title">
      Флагманские научно-исследовательские проекты
    </h2>
    <div class="leadprojects__content__projects">
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Враждебные атаки на глубокое обучение
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              кибербезопасность
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >Использование методов оптимизации для разработки унифицированной
            системы классификации. Методы теории игр будут оценены для решения
            задач. Оценка на вредоносных программах на основе глубокого
            анализа.</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Адил Хан
          </span>
        </div>
      </div>
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Строгий подход к разработке ПО
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              разработка программного обеспечения
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >Формальное моделирование и проверка, тематические исследования:
            операционные и киберфизические системы, автомобилестроение,
            образование, арифметика, языки вычисления и экологичные
            вычисления.</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Мануэль Маццара
          </span>
        </div>
      </div>
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Адаптация домена
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              искусственный интеллект
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >Внедрение методов оценки и определения пробелов в области между
            учебными и целевыми областями. Внедрение методов присвоения
            псевдомаркировок во время адаптации домена. Обработка случаев
            обобщения и реализация методов адаптации домена.</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Адил Хан
          </span>
        </div>
      </div>
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Эмпиризм в программной инженерии
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              разработка программного обеспечения
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >Эмпирический анализ процессов разработки и разработка ПО с
            использованием сравнительного анализа с творческими направлениями и
            биофизическими сигналами от разработчиков.</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Джанкарло Суччи
          </span>
        </div>
      </div>
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Управление системами с использованием принципа тенсегрити
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              робототехника
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >Прямые и обратные задачи для положения и жесткости, использование
            машинного обучения в конвейере управления структурами тенсегрити,
            идентификация моделей тансегрити роботов</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Сергей Савин
          </span>
        </div>
      </div>
      <div class="leadprojects__content__projects__project-card">
        <div class="leadprojects__content__projects__project-card__info">
          <h3 class="leadprojects__content__projects__project-card__title">
            Обработка естественного языка в программном обеспечении
          </h3>
          <div class="leadprojects__content__projects__project-card__status">
            <span
              class="leadprojects__content__projects__project-card__status__text"
            >
              искусственный интеллект
            </span>
          </div>
          <span
            class="leadprojects__content__projects__project-card__description"
            >NLP для разработки ПО, понимание требований естественного языка,
            NLP для формализации описаний уязвимостей безопасности.</span
          >
        </div>
        <div class="leadprojects__content__projects__project-card__supervisor">
          <span
            class="leadprojects__content__projects__project-card__supervisor__title"
          >
            Руководитель
          </span>
          <span
            class="leadprojects__content__projects__project-card__supervisor__name"
          >
            Владимир Иванов
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
