<section class="manager">
  <div class="manager__content multi-manager">
    <div class="manager__content__manager">
      <div class="manager__info">
        <div class="manager__wrapper">
          <div class="manager__photo-container">
            <img
              src="/images/manager2.webp"
              alt=""
              class="manager__photo manager__photo--2"
            />
          </div>
          <div class="manager__wrapper-inner">
            <div class="manager__name">Динара Загидуллина</div>
            <div class="manager__position">
              менеджер абитуриентов магистратуры из РФ
            </div>
          </div>
        </div>
        <a href="#" class="btn btn--white-with-green-outline">
          Написать Динаре в телеграм
        </a>
      </div>
      <ul class="manager__contacts-list">
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <a href="tel:+78002225261" class="manager__contacts-card-value">
              +7 (800) 222-52-61
            </a>
          </div>
        </li>
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <div class="manager__contacts-card-value">в университете</div>
          </div>
        </li>
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <a
              href="mailto: admissions@innopolis.ru"
              class="manager__contacts-card-value"
            >
              vk.com/mas_iu
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="manager__content__manager">
      <div class="manager__info">
        <div class="manager__wrapper">
          <div class="manager__photo-container">
            <img
              src="/images/manager3.webp"
              alt=""
              class="manager__photo manager__photo--3"
            />
          </div>
          <div class="manager__wrapper-inner">
            <div class="manager__name">Ляйсан Галимова</div>
            <div class="manager__position">
              менеджер иностранных<br>абитуриентов магистратуры
            </div>
          </div>
        </div>
        <a href="#" class="btn btn--white-with-green-outline">
          Написать Динаре в телеграм
        </a>
      </div>
      <ul class="manager__contacts-list">
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <a href="tel:+78002225261" class="manager__contacts-card-value">
              +7 (800) 222-52-61
            </a>
          </div>
        </li>
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <div class="manager__contacts-card-value">в университете</div>
          </div>
        </li>
        <li class="manager__contacts-list-item">
          <div class="manager__contacts-card">
            <div class="manager__contacts-card-key">
              пн-пт с 9:00 до 18:00 (МСК)
            </div>
            <a
              href="mailto: admissions@innopolis.ru"
              class="manager__contacts-card-value"
            >
              admissions@innopolis.ru
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
