<section class="manager">
    <div class="manager__content">
        <div class="manager__info">
            <div class="manager__wrapper">
                <div class="manager__photo-container">
                    <img src="/images/manager.webp" alt="" class="manager__photo">
                </div>
                <div class="manager__wrapper-inner">
                    <div class="manager__name">
                        Динара Сергеева
                    </div>
                    <div class="manager__position">
                        менеджер абитуриентов бакалавриата
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn--white-with-green-outline">
                Написать Динаре в телеграм
            </a>
        </div>
        <ul class="manager__contacts-list">
            <li class="manager__contacts-list-item">
                <div class="manager__contacts-card">
                    <div class="manager__contacts-card-key">
                        пн-пт с 9:00 до 18:00 (МСК)
                    </div>
                    <a href="tel:+78002225261" class="manager__contacts-card-value">
                        +7 (800) 222-52-61
                    </a>
                </div>
            </li>
            <li class="manager__contacts-list-item">
                <div class="manager__contacts-card">
                    <div class="manager__contacts-card-key">
                        пн-пт с 9:00 до 18:00 (МСК)
                    </div>
                    <div class="manager__contacts-card-value">
                        в университете
                    </div>
                </div>
            </li>
            <li class="manager__contacts-list-item">
                <div class="manager__contacts-card">
                    <div class="manager__contacts-card-key">
                        пн-пт с 9:00 до 18:00 (МСК)
                    </div>
                    <a href="mailto: admissions@innopolis.ru" class="manager__contacts-card-value">
                        admissions@innopolis.ru
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>