<section class="master-apply">
    <div class="master-apply__content">
        <h2 class="medium-heading master-apply__heading">
            Как поступить в онлайн-магистратуру?
        </h2>
        <div class="master-apply__steps">
            <div class="master-apply__step">
                <h3 class="master-apply__step-title">
                    Шаг 1. Подайте заявку на обучение
                </h3>
                <div class="master-apply__step-text">
                    Заполните резюме по шаблону, который вам отправит менеджер после обработки заявки
                </div>
                <div class="master-apply__step-remark">
                    <img src="/images/remark.svg" alt="">
                    Важно: заполнить все пункты точь-в-точь, как в шаблоне документа
                </div>
            </div>
            <div class="master-apply__step">
                <h3 class="master-apply__step-title">
                    Шаг 2. Пройдите вступительные испытания
                </h3>
                <div class="master-apply__step-text">
                    Ознакомьтесь с темами для подготовки к тестированию по всем программам онлайн-магистратуры по
                    <a href="#">ссылке.</a>
                </div>
            </div>
            <div class="master-apply__step">
                <h3 class="master-apply__step-title">
                    Шаг 3. Заполнение документов
                </h3>
                <div class="master-apply__step-text">
                    Подпишите договор, оплатите обучение и станьте студентом онлайн-магистратуры Университета Иннополис.
                </div>
            </div>
        </div>
    </div>
</section>