<div class="menu">
    <div class="menu__inner">
        <div class="menu__sidebar">
            <div class="menu__nav">
                <ul class="menu__nav-list">
                    <li class="menu__nav-list-item">
                        <a href="#section-university" class="menu__nav-link active">
                            Университет
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#section-education" class="menu__nav-link">
                            Образование
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#section-extra-education" class="menu__nav-link">
                            Дополнительное образование
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#section-tech" class="menu__nav-link">
                            Технологии
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#section-science" class="menu__nav-link">
                            Наука
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__nav-list-item">
                        <a href="#section-contacts" class="menu__nav-link">
                            Контакты
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#stylized-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu__main">
            <div class="menu__section active" id="section-university">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-about">
                            <div class="menu__section-text">
                                Являемся уникальным вузом, сочетающим в своей экосистеме высшее и дополнительное
                                образование, фундаментальные и прикладные научные исследования, собственные и заказные
                                технологические решения и разработки
                            </div>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                Об университете
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu__section-right">
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        ОРГАНЫ УПРАВЛЕНИЯ
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Учредители и наблюдательный совет
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        КОМАНДА УНИВЕРСИТЕТА
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Организационная структура
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Образовательные и научные подразделения
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Профессорско-преподавательский состав
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Технологические центры
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Общая информация
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Сведения об образовательной организации
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Контакты
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Жизнь в университете
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Кампус
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Виртуальная экскурсия
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        РАБОТА В УНИВЕРСИТЕТЕ
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Карьера
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Вакансии
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Релокация
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        мерч университета
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Сувениры и одежда
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu__section" id="section-education">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-about">
                            <div class="menu__section-text">
                                С 2012 года готовим высококвалифицированные кадры в области информационных технологий,
                                искусственного интеллекта и робототехники
                            </div>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                О возможностях образования
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu__section-right">
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Поступающим
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Приемная кампания 25/26
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Возможности поступления
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            День открытых дверей
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Бакалавриат
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Магистратура
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Очная онлайн-магистратура
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Аспирантура
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Колледж
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            ПИШ
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Студентам
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Стажировки и трудоустройство
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Студенческая жизнь
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            IU Integration Bee
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Стипендия 1519
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Выпускникам
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Клуб выпускников
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Школьникам
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Образовательные программы для школьников
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Олимпиады
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Проект «Партнерские школы»
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Физмат прорыв
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu__section" id="section-extra-education">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-about">
                            <div class="menu__section-text">
                                Обеспечиваем непрерывное профессиональное развитие, повышение квалификации и развиваем
                                кадровый потенциал компаний
                            </div>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                О дополнительном образовании
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu__section-right">
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Управление и технологическое лидерство
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            MBA цифровая трансформация
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Искусственный интелект и управление данными
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Управление проектами, продуктами и командами
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Обучение IT-команд
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Повышение квалификации
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Переобучение или развитие новых навыков
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Обучение технологиям или вашему продукту
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Kорпоративное обучение и развитие сотрудников
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Найм, онбординг и адаптация через обучение
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            ИТ-компетенции и цифровые навыки
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Цифровизация и развитие HR-процессов
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Развитие бизнеса и госсектора
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Бизнес-миссии и выездные программы
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Стратегические сессии
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Ассесмент
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Технологический консалтинг
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Акселератор проектов и R&D-лаборатории
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Аналитические исследования
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="menu__section" id="section-tech">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-about">
                            <div class="menu__section-text">
                                Специализируемся на наукоемкой заказной разработке, создаем комплексные ИТ-решения для
                                ключевых отраслей экономики
                            </div>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                О технологиях
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu__section-right">
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Центры компетенций
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Искусственный интеллект
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Беспилотные технологии
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Геоинформационные решения
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Информационная безопасность
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Нефтегазовые и энергетические технологии
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Автоматизация и роботизация
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        УСЛУГИ
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Заказная разработка
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Консалтинг и аудит
                                        </a>
                                    </div>
                                </li>
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        ПРОДУКТЫ
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Каталог продуктов
                                        </a>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="menu__section" id="section-science">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-about">
                            <div class="menu__section-text">
                                Работаем над инновационными научными проектами в рамках российских и международных
                                исследовательских групп
                            </div>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                О научной деятельности
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="menu__section-right">
                        <div class="menu__section-nav-col">
                            <ul class="menu__section-nav-list">
                                <li class="menu__section-nav-list-item">
                                    <div class="menu__section-nav-title">
                                        Наука
                                    </div>
                                    <div class="menu__section-nav-links">
                                        <a href="#" class="menu__section-nav-link">
                                            Академическое сотрудничество
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Факультеты и лаборатории
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Профессорско-преподавательский состав
                                        </a>
                                        <a href="#" class="menu__section-nav-link">
                                            Публикации и проекты
                                        </a>

                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="menu__section" id="section-contacts">
                <div class="menu__section-inner">
                    <div class="menu__section-left">
                        <div class="menu__section-contacts">
                            <ul class="menu__section-contacts-list">
                                <li class="menu__section-contacts-list-item">
                                    <div class="menu__section-contacts-card">
                                        <div class="menu__section-contacts-card-title">
                                            режим работы
                                        </div>
                                        <div class="menu__section-contacts-card-text">
                                            пн-пт, 09:00–18:00 (Мск)
                                        </div>
                                    </div>
                                </li>
                                <li class="menu__section-contacts-list-item">
                                    <div class="menu__section-contacts-card">
                                        <div class="menu__section-contacts-card-title">
                                            Телефон
                                        </div>
                                        <div class="menu__section-contacts-card-text">
                                            +7 (843) 203-92-53
                                        </div>
                                    </div>
                                </li>
                                <li class="menu__section-contacts-list-item">
                                    <div class="menu__section-contacts-card">
                                        <div class="menu__section-contacts-card-title">
                                            Email
                                        </div>
                                        <div class="menu__section-contacts-card-text">
                                            university@innopolis.ru
                                        </div>
                                    </div>
                                </li>
                                <li class="menu__section-contacts-list-item">
                                    <div class="menu__section-contacts-card">
                                        <div class="menu__section-contacts-card-title">
                                            адрес
                                        </div>
                                        <div class="menu__section-contacts-card-text">
                                            420500, г. Иннополис<br>
                                            ул.Университетская, д.1
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn--small btn--dark-with-green-outline menu__btn">
                                Все контакты
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#btn-arrow-right"></use>
                                </svg>
                            </a>
                        </div>

                    </div>
                    <div class="menu__section-right">
                        <div class="menu__map">
                            <div class="menu__map-inner js-yandex-map" data-zoom="15" data-lat="55.753979"
                                data-lng="48.743215">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>