<section class="short-intro">
    <div class="short-intro__content">
        <div class="breadcrumbs short-intro__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#breadcrumbs-link"></use>
                </svg>
            </a>
            <a href="#" class="breadcrumbs__link">
                Образование
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#breadcrumbs-link"></use>
                </svg>
            </a>
            <a href="#" class="breadcrumbs__link active">
                Олимпиадные бонусы
            </a>
        </div>
        <div class="short-intro__row">
            <div class="short-intro__card">
                <h1 class="short-intro__card-title">
                    Олимпиадные бонусы
                </h1>
                <div class="short-intro__card-btns">
                    <a href="#" class="btn short-intro__card-btn">
                        Подать заявку на грант
                    </a>
                    <a href="#" class="btn btn--dark-with-green-outline short-intro__card-btn">
                        День открытых дверей
                    </a>
                </div>
            </div>
            <div class="short-intro__image-wrapper">
                <img src="/images/olympiades-intro.webp" alt="" class="short-intro__image">
            </div>
        </div>
    </div>
</section>