<section class="olympiads">
    <div class="olympiads__content">
        <h2 class="medium-heading olympiads__heading">
            Перечень олимпиад
        </h2>
        <div class="olympiads__wrapper">
            <div class="olympiads__info">
                <h3 class="olympiads__info-title">
                    Бонус при поступлении в Университет Иннополис:
                </h3>
                <div class="olympiads__info-text">
                    Победители и&nbsp;призеры заключительного этапа олимпиад из&nbsp;перечня РСОШ и&nbsp;олимпиад ВсОШ
                    имеют
                    преимущество в&nbsp;виде освобождения от&nbsp;тестирований 1&nbsp;тура грантового конкурса. Заявка
                    будет
                    автоматически одобрена при заполненном резюме и&nbsp;прикреплённом портфолио.
                </div>
            </div>
            <ul class="olympiads__list">
                <li class="olympiads__list-item">
                    <div class="olympiads__card">
                        <div class="olympiads__card-title">
                            I, II и III уровень из перечня олимпиад школьников РСОШ
                        </div>
                        <div class="olympiads__card-content">
                            <div class="olympiads__card-item">
                                <div class="olympiads__card-item-subject">
                                    &laquo;Математика, &laquo;Информатика и&nbsp;ИКТ&raquo;, &laquo;Физика&raquo;,
                                    &laquo;Информатика и&nbsp;вычислительная техника&raquo;,
                                    &laquo;Информационная безопасность&raquo; или &laquo;Робототехника&raquo; за&nbsp;9,
                                    10&nbsp;или 11&nbsp;класс из&nbsp;перечня
                                    олимпиад школьников, утвержденного Приказами Министерства образования и&nbsp;науки
                                    Российской
                                    Федерации.
                                </div>
                                <div class="olympiads__card-item-text">
                                    Подтверждение БВИ баллами ЕГЭ&nbsp;&mdash; 75&nbsp;баллов по&nbsp;профильному
                                    предмету
                                    олимпиады и&nbsp;60&nbsp;баллов
                                    по&nbsp;двум другим предметам
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="olympiads__list-item">
                    <div class="olympiads__card">
                        <div class="olympiads__card-title">
                            Всероссийская олимпиада школьников
                        </div>
                        <div class="olympiads__card-content">
                            <div class="olympiads__card-item">
                                <div class="olympiads__card-item-subject">
                                    По&nbsp;общеобразовательным предметам: &laquo;Математика&raquo;, &laquo;Информатика
                                    и&nbsp;ИКТ&raquo;, &laquo;Физика&raquo; или
                                    &laquo;Технология&raquo; (по&nbsp;профилям &laquo;Робототехника&raquo;
                                    и&nbsp;&laquo;Информационная безопасность&raquo;) за&nbsp;9, 10&nbsp;или
                                    11&nbsp;класс.
                                </div>
                                <div class="olympiads__card-item-text">
                                    Подтверждение баллами БВИ не требуется
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="olympiads__list-item">
                    <div class="olympiads__card">
                        <a href="#" class="olympiads__card-title">
                            Олимпиада «Innopolis Open»
                        </a>
                        <div class="olympiads__card-content">
                            <div class="olympiads__card-item">
                                <div class="olympiads__card-item-subject">
                                    По&nbsp;общеобразовательным предметам: &laquo;Математика&raquo;,
                                    &laquo;Информатика
                                    и&nbsp;ИКТ&raquo;, &laquo;Физика&raquo; или
                                    &laquo;Технология&raquo; (по&nbsp;профилям &laquo;Робототехника&raquo;
                                    и&nbsp;&laquo;Информационная безопасность&raquo;) за&nbsp;9, 10&nbsp;или
                                    11&nbsp;класс.
                                </div>
                                <div class="olympiads__card-item-text">
                                    Подтверждение баллами БВИ не требуется
                                </div>
                            </div>
                            <div class="olympiads__card-item">
                                <div class="olympiads__card-item-subject">
                                    По искусственному интеллекту.
                                </div>
                                <div class="olympiads__card-item-text">
                                    Поступление БВИ не предусмотрено
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>