<section class="preliminary">
    <div class="preliminary__content">
        <div class="preliminary__card">
            <div class="preliminary__wrapper">
                <h2 class="medium-heading preliminary__heading">
                    Преимущества для олимпиадников
                </h2>
                <div class="preliminary__text">
                    Узнай о преимуществах при поступлении для призёров и победителей олимпиад школьников
                </div>
            </div>
            <div class="preliminary__btns">
                <a href="#" class="btn btn--white btn--large preliminary__btn">
                    Смотреть видео
                </a>
            </div>
        </div>
    </div>
</section>