<section class="olympiads-payments">
    <div class="olympiads-payments__content">
        <div class="olympiads-payments__block">
            <h3 class="olympiads-payments__block-title">
                Единоразовая выплата при поступлении в 2025
            </h3>
            <ul class="olympiads-payments__list">
                <li class="olympiads-payments__list-item">
                    <div class="olympiads-payments__card">
                        <h4 class="olympiads-payments__card-amount">
                            300 000 ₽
                        </h4>
                        <div class="olympiads-payments__card-text">
                            Призеры и победители ВсОШ по информатике получают бонус 150 000 рублей при поступлении и ещё
                            150 000 рублей при формировании команды на ICPC и ее выход в Финал Северной Евразии.
                        </div>
                    </div>
                </li>
                <li class="olympiads-payments__list-item">
                    <div class="olympiads-payments__card">
                        <h4 class="olympiads-payments__card-amount">
                            100 000 ₽
                        </h4>
                        <div class="olympiads-payments__card-text">
                            1 уровень РСОШ и ВсОШ
                        </div>
                    </div>
                </li>
                <li class="olympiads-payments__list-item">
                    <div class="olympiads-payments__card">
                        <h4 class="olympiads-payments__card-amount">
                            75 000 ₽
                        </h4>
                        <div class="olympiads-payments__card-text">
                            2 уровень РСОШ
                        </div>
                    </div>
                </li>
                <li class="olympiads-payments__list-item">
                    <div class="olympiads-payments__card">
                        <h4 class="olympiads-payments__card-amount">
                            50 000 ₽
                        </h4>
                        <div class="olympiads-payments__card-text">
                            3 уровень РСОШ
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="olympiads-payments__block">
            <h3 class="olympiads-payments__block-title">
                100% грант со стипендией
            </h3>
            <ul class="olympiads-payments__list">
                <li class="olympiads-payments__list-item olympiads-payments__list-item--wide">
                    <div class="olympiads-payments__card">
                        <h4 class="olympiads-payments__card-amount">
                            Бесплатное обучение
                        </h4>
                        <div class="olympiads-payments__remark">
                            Победителям и призерам олимпиад по алгоритмическому программированию из стран СНГ и дальнего
                            зарубежья
                        </div>
                        <div class="olympiads-payments__card-text">
                            ICPC, IOI, Yandex Cup, EJOI, International Zhautykov Olympiad (IZO), EGOI, IATI, RMI, BOI,
                            CEOI, APIO, Meta Hacker Cup
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>