<section class="one-plus-one">
    <div class="one-plus-one__content">
        <h2 class="medium-heading one-plus-one__heading">
            Формат обучения 1+1
        </h2>
        <div class="one-plus-one__block">
            <h3 class="one-plus-one__block-heading">
                Фундамент и развитие
            </h3>
            <div class="one-plus-one__block-text">
                <p>
                    Первый год — теоретическое обучение.
                </p>
                <p>
                    Здесь вы получаете не просто инструменты: в первую очередь обучаетесь правильно их использовать.
                </p>
            </div>
        </div>
        <div class="one-plus-one__block">
            <h3 class="one-plus-one__block-heading">
                Индивидуальная траектория с практикой в индустрии
            </h3>
            <div class="one-plus-one__block-text">
                <p>
                    Второй год — только практика (без лекций и семинаров).
                </p>
                <p>
                    Год практики помогает понять в каком направлении своей специальности интереснее развиваться. На
                    втором году магистратуры возможно трудоустройство.
                </p>
            </div>
        </div>
    </div>
</section>