<section class="options">
    <div class="options__content">
        <div class="options__top">
            <div class="options__top-row">
                <h2 class="medium-heading">
                    Ваши возможности
                </h2>
                <a href="#" class="btn btn--white options__all-link">
                    Все возможности
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#btn-arrow-right"></use>
                    </svg>
                </a>
            </div>
            <ul class="options__top-list">
                <li class="options__top-list-item">
                    <div class="options__top-card options__top-card--accent">
                        <div class="options__top-card-priority">
                            ваш приоритет
                        </div>
                        <h3 class="options__top-card-title">
                            Бюджет
                        </h3>
                        <div class="options__top-card-text">
                            Государственная стипендия — до 15 тысяч рублей. Нет оплаты за обучение и обязательств по
                            гранту
                        </div>
                    </div>
                </li>
                <li class="options__top-list-item">
                    <div class="options__top-card">
                        <h3 class="options__top-card-title">
                            Бюджет + грант
                        </h3>
                        <div class="options__top-card-text">
                            Государственная стипендия — до 15 тысяч рублей. Возможность получать стипендию от вуза — до
                            17 тысяч рублей. Работа в компании-партнере или ОЭЗ Иннополис после учебы.
                        </div>
                    </div>
                </li>
                <li class="options__top-list-item">
                    <div class="options__top-card">
                        <h3 class="options__top-card-title">
                            Платное
                        </h3>
                        <div class="options__top-card-text">
                            >60 баллов по каждому из трех предметов. Возможность перевода на бюджет. Нет обязательств по
                            гранту
                        </div>
                    </div>
                </li>
                <li class="options__top-list-item">
                    <div class="options__top-card">
                        <h3 class="options__top-card-title">
                            Платное + грант
                        </h3>
                        <div class="options__top-card-text">
                            Возможность получасть стипендию от вуза — до 6 тысяч рублей. Скидка по гранту от 20% до
                            100%. Возможность перевода на бюджет. Работа в компании-партнере или ОЭЗ Иннополис после
                            учебы.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="options__bottom">
            <div class="options__bottom-row">
                <h3 class="options__bottom-heading">
                    Дополнительные баллы
                </h3>
                <div class="options__bottom-text">
                    Важно: дополнительные баллы за ГТО и волонтерскую деятельность не предусмотрены
                </div>
            </div>
            <ul class="options__bottom-list">
                <li class="options__bottom-list-item options__bottom-list-item--wide">
                    <div class="options__bottom-card">
                        <div class="options__bottom-card-score">
                            +5 баллов
                        </div>
                        <div class="options__bottom-card-text">
                            отличникам, медалистам (серебряная или золотая)
                        </div>
                        <ul class="options__bottom-card-list">
                            <li class="options__bottom-card-list-item">
                                Аттестат с отличием или аттестат со сведениями о награждении золотой или серебряной
                                медалью
                            </li>
                            <li class="options__bottom-card-list-item">
                                Предъявите аттестат с отличием или сведения о награждении золотой или серебряной медалью
                            </li>
                        </ul>
                        <a href="#" class="btn options__bottom-card-btn">
                            Поступление по олимпиаде
                        </a>
                    </div>
                </li>
                <li class="options__bottom-list-item">
                    <div class="options__bottom-card">
                        <div class="options__bottom-card-score">
                            +2 балла
                        </div>
                        <div class="options__bottom-card-text">
                            Прошедшим воинскую службу, добровольцам в спецоперациях
                        </div>
                        <ul class="options__bottom-card-list">
                            <li class="options__bottom-card-list-item">
                                Военный билет или справка, выданная военным комиссариатом или воинской частью
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="options__bottom-list-item">
                    <div class="options__bottom-card">
                        <div class="options__bottom-card-score">
                            +2 балла
                        </div>
                        <div class="options__bottom-card-text">
                            победителям или призерам чемпионата «Абилимпикс» для лиц с ОВЗ
                        </div>
                        <ul class="options__bottom-card-list">
                            <li class="options__bottom-card-list-item">
                                Сертификат победителя (призера) чемпионата по профессиональному мастерству среди
                                инвалидов и лиц с ограниченными возможностями здоровья «Абилимпикс»
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>