<section class="events events--our-events">
    <div class="events__content">
        <div class="events__top-row">
            <h2 class="medium-heading">
                Наши мероприятия
            </h2>
            <a href="#" class="btn btn--white-with-green-outline">
                Все мероприятия
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <ul class="events__list">
            <li class="events__list-item events__list-item--large">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 июня в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>

                    <div class="events__card-text">
                        Международный форум об искусственном интеллекте, робототехнике, инновациях в образовании и
                        подготовке кадров
                    </div>
                    <div class="events__card-image-container">
                        <img src="/images/events/1.webp" alt="" class="events__card-image">
                    </div>
                </a>
            </li>
            <li class="events__list-item events__list-item--large">
                <a href="#" class="events__card">
                    <div class="events__card-date">
                        4 июня в 10:40
                    </div>
                    <div class="events__card-format">
                        онлайн
                    </div>
                    <h3 class="events__card-title">
                        семинар «Иннополис. Наука»
                    </h3>

                    <div class="events__card-text">
                        Международный форум об искусственном интеллекте, робототехнике, инновациях в образовании и
                        подготовке кадров
                    </div>
                    <div class="events__card-image-container">
                        <img src="/images/events/2.webp" alt="" class="events__card-image">
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>