<div class="our-team">
  <div class="our-team__container">
    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Наша команда</h3>
      <div class="our-team__controls">
        <button class="our-team__control-prev btn--circle btn--grey">
          <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#chevron-left"></use>
          </svg>
        </button>
        <button class="our-team__control-next btn--circle btn--grey">
          <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </button>
      </div>
    </header>

    <div class="our-team__swiper">
      <div class="swiper">
        <div class="our-team__list swiper-wrapper">

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/AlexeyPavlov.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Алексей Павлов</h3>
              <p class="our-team__card-desc text-base--m">Заместитель директора</p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/EvgeniyBobrov.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Евгений Бобров</h3>
              <p class="our-team__card-desc text-base--m">
                Проректор - начальник управления академической политики и высшего образования
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/RamilKuleev.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Рамиль Кулеев</h3>
              <p class="our-team__card-desc text-base--m">
                Директор Института искусственного интеллекта
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/DianaNizamova.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Диана Низамова</h3>
              <p class="our-team__card-desc text-base--m">
                Директор Центра геопространственных решений
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/TimurTsiunchuk.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Тимур Циунчук</h3>
              <p class="our-team__card-desc text-base--m">
                Руководитель отдела привлечения <br> и поддержки профессорско-преподавательского состава
              </p>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="our-team__card">
              <img class="our-team__card-image" src="/images/our-team/OksanaZhirosh.png" alt="Иван Иванов" />
              <h3 class="our-team__card-title text--l-m">Оксана Жирош</h3>
              <p class="our-team__card-desc text-base--m">
                Директор по развитию гуманитарных и <br> социальных наук, старший преподаватель
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>