<section class="salaries">
  <div class="salaries__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Аспирантам</h3>
    </header>

    <div class="salaries__grid">

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 20 000₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От университета<span class="salary-card__asterisk">*</span></h3>

        <div class="salary-card__cols">
          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Бюджетники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия по гранту </span>
              <span class="salary-card__value text-medium--m">9 700₽ первый семестр</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Государственная стипендия</span>
              <span class="salary-card__value text-medium--m">до 10 300₽</span>
            </p>
          </div>

          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Платники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия по гранту</span>
              <span class="salary-card__value text-medium--m">20 000₽ первый семестр</span>
            </p>
          </div>
        </div>
      </article>

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 105 000₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От государства<span class="salary-card__asterisk">*</span></h3>
        <p class="salary-card__subtitle text-medium--sb">Бюджетники и платники, в месяц</p>

        <div class="salary-card__cols">
          <div class="salary-card__col">

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия Президента РФ </span>
              <span class="salary-card__value text-medium--m">75 000₽ от 1 года</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Грант Президента РФ</span>
              <span class="salary-card__value text-medium--m">20 000₽ на весь срок обучения</span>
            </p>
          </div>

          <div class="salary-card__col">
            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия Правительства РФ</span>
              <span class="salary-card__value text-medium--m">10 000₽ на 1 год</span>
            </p>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>