<section class="preliminary">
    <div class="preliminary__content">
        <div class="preliminary__card">
            <div class="preliminary__wrapper">
                <h2 class="medium-heading preliminary__heading">
                    Довузовская подготовка
                </h2>
                <div class="preliminary__text">
                    Курсы по подготовке к поступлению в Университет Иннополис.
                </div>
            </div>
            <a href="#" class="btn btn--white btn--large preliminary__btn">
                Узнать подробнее
            </a>
        </div>
    </div>
</section>