<section class="products">

  <div class="products__content">
    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Продукты и решения</h3>
      <div class="products__controls">
        <button class="products__swiper-button-prev btn--circle btn--grey">
          <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#chevron-left"></use>
          </svg>
        </button>
        <button class="products__swiper-button-next btn--circle btn--grey">
          <svg width="16" height="16" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </button>
      </div>
    </header>
    <div class="products__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="InnoVtol-3s" />
            <h3 class="article-card__title text--l-m">InnoVtol-3s</h3>
            <span class='tag text-base--m'>Беспилотные технологии</span>
            <p class="article-card__desc text-base--m">Беспилотный аппарат вертикального взлёта и посадки</p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="TeamFlame" />
            <h3 class="article-card__title text--l-m">TeamFlame</h3>
            <span class='tag text-base--m'>Управление проектами</span>
            <p class="article-card__desc text-base--m">Система для управления разработкой и постановки задач</p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="Иннокиберполигон" />
            <h3 class="article-card__title text--l-m">Иннокиберполигон</h3>
            <span class='tag text-base--m'>Информационная безопасность</span>
            <p class="article-card__desc text-base--m">Виртуальная инфраструктура для проведения киберучений по
              информационной
              безопасности</p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="Синтез+" />
            <h3 class="article-card__title text--l-m">Синтез+</h3>
            <span class='tag text-base--m'>Управление проектами</span>
            <p class="article-card__desc text-base--m">Платформа цифровизации и автоматизации бизнес-процессов
              предприятия
            </p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="Синтез+" />
            <h3 class="article-card__title text--l-m">Синтез+</h3>
            <span class='tag text-base--m'>Управление проектами</span>
            <p class="article-card__desc text-base--m">Платформа цифровизации и автоматизации бизнес-процессов
              предприятия
            </p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="article-card">
            <img class="article-card__image" src="/images/default-article-card.png" alt="Синтез+" />
            <h3 class="article-card__title text--l-m">Синтез+</h3>
            <span class='tag text-base--m'>Управление проектами</span>
            <p class="article-card__desc text-base--m">Платформа цифровизации и автоматизации бизнес-процессов
              предприятия
            </p>
            <div class="article-card__footer">
              <a href="#" class="btn btn--white-with-green-outline">
                Подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>