<section class="program-intro">
    <div class="program-intro__content">
        <div class="breadcrumbs program-intro__breadcrumbs">
            <a href="#" class="breadcrumbs__link">
                Главная
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#breadcrumbs-link"></use>
                </svg>
            </a>
            <a href="#" class="breadcrumbs__link">
                Образование
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#breadcrumbs-link"></use>
                </svg>
            </a>
            <a href="#" class="breadcrumbs__link active">
                Магистратура
            </a>
        </div>
        <div class="program-intro__wrapper">
            <div class="program-intro__slogan">
                <img src="/images/program-intro/2.webp" alt="">
                выбирай будущее,
                <img src="/images/program-intro/1.webp" alt=""><br>
                поступай в Университет Иннополис
            </div>
            <h1 class="program-intro__main-heading">
                на онлайн-магистратуру
            </h1>
            <ul class="program-intro__list">
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            язык обучения
                        </div>
                        <div class="program-intro__card-value">
                            русский, английский
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            форма обучения
                        </div>
                        <div class="program-intro__card-value">
                            очная в формате онлайн
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            длительность обучения
                        </div>
                        <div class="program-intro__card-value">
                            2 года
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            результат
                        </div>
                        <div class="program-intro__card-value">
                            документ о высшем образовании
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            старт обучения
                        </div>
                        <div class="program-intro__card-value">
                            1 сентября 2025
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            стоимость обучения
                        </div>
                        <div class="program-intro__card-value">
                            от 240 000 ₽/год
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            платных мест
                        </div>
                        <div class="program-intro__card-value">
                            85
                        </div>
                    </div>
                </li>
                <li class="program-intro__list-item">
                    <div class="program-intro__card">
                        <div class="program-intro__card-key">
                            бюджетных мест
                        </div>
                        <div class="program-intro__card-value">
                            65
                        </div>
                    </div>
                </li>
            </ul>
            <div class="program-intro__btns">
                <a href="#" class="btn btn--green program-intro__btn">
                    Подать документы
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#stylized-arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="btn btn--green program-intro__btn">
                    Конкурсные списки
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#stylized-arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="btn btn--dark-with-green-outline program-intro__btn">
                    Подать заявку на грант
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#stylized-arrow-right"></use>
                    </svg>
                </a>
                <a href="#" class="btn btn--dark-with-green-outline program-intro__btn">
                    Поступление иностранных граждан
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#stylized-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>