<section class="programs">
    <div class="programs__content">
        <ul class="programs__list">
            <li class="programs__list-item">
                <a href="#" class="programs__card">
                    <div class="programs__card-image-container">
                        <img src="/images/programs/1.webp" alt="" class="programs__card-image">
                    </div>
                    <h3 class="programs__card-title">
                        Бакалавриат
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">
                    <div class="programs__card-image-container">
                        <img src="/images/programs/2.webp" alt="" class="programs__card-image">
                    </div>
                    <h3 class="programs__card-title">
                        Магистратура
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">
                    <div class="programs__card-image-container">
                        <img src="/images/programs/3.webp" alt="" class="programs__card-image">
                    </div>
                    <h3 class="programs__card-title">
                        Аспирантура
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">

                    <h3 class="programs__card-title">
                        Технологии
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">

                    <h3 class="programs__card-title">
                        Наука
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">

                    <h3 class="programs__card-title">
                        Колледж Университета Иннополис
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">

                    <h3 class="programs__card-title">
                        Дополнительное образование
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="programs__list-item">
                <a href="#" class="programs__card">

                    <h3 class="programs__card-title">
                        Карьера
                    </h3>
                    <div class="programs__card-arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#diagonal-arrow"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>