<section class="promo">
    <div class="promo__content">
        <div class="slider-arrows promo__slider-arrows">
            <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
        <div class="promo__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="promo__slider-card">
                            <div class="promo__slider-card-bg">
                                <img src="/images/promo/1.webp" alt="" class="promo__slider-card-bg-image">
                            </div>
                            <div class="promo__slider-card-content">
                                <div class="promo__slider-card-title">
                                    Робототехника:<br> старт в индустрии
                                </div>
                                <a href="#" class="btn btn--white promo__slider-card-btn">
                                    Узнать подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="promo__slider-card">
                            <div class="promo__slider-card-bg">
                                <img src="/images/promo/1.webp" alt="" class="promo__slider-card-bg-image">
                            </div>
                            <div class="promo__slider-card-content">
                                <div class="promo__slider-card-title">
                                    Робототехника:<br> старт в индустрии
                                </div>
                                <a href="#" class="btn btn--white promo__slider-card-btn">
                                    Узнать подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>