<section class="researchplan">
  <div class="researchplan__content">
    <div class="researchplan__content__info">
      <h3 class="researchplan__content__info-title">
        В каких направлениях мы ведем исследования
      </h3>
      <span
        >Ведущие ученые России и мира ведут проекты в области искусственного
        интеллекта, робототехники, больших данных, разработки ПО <br />и
        информационной безопасности.</span
      >
    </div>
    <div class="researchplan__content__more-info">
      <div class="researchplan__content__more-info__card">
        <div class="researchplan__content__more-info__card-number">5553</div>
        <div class="researchplan__content__more-info__card-text">
          научных публикаций в Scopus, WoS и РИНЦ
        </div>
      </div>
      <div class="researchplan__content__more-info__card">
        <div class="researchplan__content__more-info__card-number">144</div>
        <div class="researchplan__content__more-info__card-text">
          учёных и педагогов из 24 стран<br />
          с опытом мировой ИТ-индустрии
        </div>
      </div>
      <div class="researchplan__content__more-info__card">
        <div class="researchplan__content__more-info__card-number">19</div>
        <div class="researchplan__content__more-info__card-text">
          лабораторий
        </div>
      </div>
      <div class="researchplan__content__more-info__card">
        <div class="researchplan__content__more-info__card-number">54</div>
        <div class="researchplan__content__more-info__card-text">
          академических партнёра<br />
          из 25 стран
        </div>
      </div>
    </div>
  </div>
</section>
