<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="medium-heading reviews__heading">
                Отзывы студентов
            </h2>
            <div class="reviews__text">
                Мы заботимся о том, чтобы выпускники устроились на достойные позиции в компании-лидеры российского рынка
                ИТ-индустрии, которые дают возможность не только участвовать в амбициозных проектах, но и расти в
                профессиональной и материальной сферах.
            </div>
        </div>
        <div class="reviews__slider">
            <div class="reviews__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-text-card">
                                <div class="review-text-card__top-row">
                                    <div class="review-text-card__image-container">
                                        <img src="/images/text-reviews/1.webp" alt="" class="review-text-card__image">
                                    </div>
                                    <div class="review-text-card__wrapper">
                                        <div class="review-text-card__name">
                                            Александр Анчи
                                        </div>
                                        <div class="review-text-card__position">
                                            «Управление разработкой компьютерных игр»,<br> 1 курс
                                        </div>
                                    </div>
                                </div>
                                <div class="review-text-card__text-content">
                                    <p>
                                        Я&nbsp;доволен первым годом обучения в&nbsp;магистратуре. Нравится, что учёбу
                                        здесь можно
                                        можно совмещать с&nbsp;работой&nbsp;&mdash; нагрузка на&nbsp;студентов
                                        распределена сбалансированно.
                                        А&nbsp;при возникновении трудностей сотрудники университета, преподаватели
                                        и&nbsp;куратор
                                        всегда готовы помочь с&nbsp;любыми вопросами.
                                    </p>
                                    <p>
                                        Рад, что получил здесь много практических навыков разработки игр, узнал много
                                        полезного про геймдев от&nbsp;людей, работающих в&nbsp;индустрии.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-text-card">
                                <div class="review-text-card__top-row">
                                    <div class="review-text-card__image-container">
                                        <img src="/images/text-reviews/2.webp" alt="" class="review-text-card__image">
                                    </div>
                                    <div class="review-text-card__wrapper">
                                        <div class="review-text-card__name">
                                            Алина Хафизова
                                        </div>
                                        <div class="review-text-card__position">
                                            «Управление на основе данных»,<br>
                                            2 курс
                                        </div>
                                    </div>
                                </div>
                                <div class="review-text-card__text-content">
                                    <p>
                                        Как человек без технического образования, я&nbsp;была удивлена, насколько
                                        доступным оказалось обучение. Преподаватели создали все условия для того, чтобы
                                        даже новички смогли освоить сложные IT-дисциплины с&nbsp;нуля.
                                    </p>
                                    <p>
                                        Программа даёт всё: от&nbsp;основ управления до&nbsp;продвинутой аналитики.
                                        Впечатлило сочетание технических и&nbsp;творческих заданий. Новые знания
                                        по&nbsp;формированию команды и&nbsp;организации работы бесценны. Теперь
                                        я&nbsp;умею не&nbsp;только подбирать специалистов, но&nbsp;и&nbsp;создавать
                                        условия для их&nbsp;эффективности. А&nbsp;еще отмечу курсы по&nbsp;разработке
                                        сайтов и&nbsp;проектированию интерфейсов&nbsp;&mdash; практические навыки,
                                        которые помогли мне развиваться в&nbsp;карьере.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-text-card">
                                <div class="review-text-card__top-row">
                                    <div class="review-text-card__image-container">
                                        <img src="/images/text-reviews/3.webp" alt="" class="review-text-card__image">
                                    </div>
                                    <div class="review-text-card__wrapper">
                                        <div class="review-text-card__name">
                                            Марат Гаджимурадов
                                        </div>
                                        <div class="review-text-card__position">
                                            «Управление цифровым продуктом»,<br>
                                            2 курс
                                        </div>
                                    </div>
                                </div>
                                <div class="review-text-card__text-content">
                                    <p>
                                        Учебный процесс организован отлично&nbsp;&mdash; удобный тайминг, продуманная
                                        структура курсов, и&nbsp;главное, к&nbsp;онлайн-студентам здесь относятся
                                        наравне с&nbsp;очными, можно полноценно участвовать в&nbsp;жизни университета.
                                    </p>
                                    <p>
                                        Преподаватели&nbsp;&mdash; топовые практики, всегда готовы помочь, дискуссии
                                        получаются живыми. Но&nbsp;больше всего нравится, как связаны практические
                                        задания между курсами&nbsp;&mdash; можно взять один продукт в&nbsp;начале года
                                        и&nbsp;довести его до&nbsp;первых продаж к&nbsp;концу. Получаешь не&nbsp;просто
                                        знания, а&nbsp;реальный опыт создания продукта с&nbsp;нуля.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-text-card">
                                <div class="review-text-card__top-row">
                                    <div class="review-text-card__image-container">
                                        <img src="/images/text-reviews/1.webp" alt="" class="review-text-card__image">
                                    </div>
                                    <div class="review-text-card__wrapper">
                                        <div class="review-text-card__name">
                                            Александр Анчи
                                        </div>
                                        <div class="review-text-card__position">
                                            «Управление разработкой компьютерных игр»,<br> 1 курс
                                        </div>
                                    </div>
                                </div>
                                <div class="review-text-card__text-content">
                                    <p>
                                        Я&nbsp;доволен первым годом обучения в&nbsp;магистратуре. Нравится, что учёбу
                                        здесь можно
                                        можно совмещать с&nbsp;работой&nbsp;&mdash; нагрузка на&nbsp;студентов
                                        распределена сбалансированно.
                                        А&nbsp;при возникновении трудностей сотрудники университета, преподаватели
                                        и&nbsp;куратор
                                        всегда готовы помочь с&nbsp;любыми вопросами.
                                    </p>
                                    <p>
                                        Рад, что получил здесь много практических навыков разработки игр, узнал много
                                        полезного про геймдев от&nbsp;людей, работающих в&nbsp;индустрии.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slider-arrows reviews__slider-arrows">
                <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>