<section class="reviews">
  <div class="reviews__content">
    <div class="reviews__top-row">
      <h2 class="medium-heading reviews__heading">Отзывы студентов</h2>
      <div class="reviews__text">
        Мы заботимся о том, чтобы выпускники устроились на достойные позиции в
        компании-лидеры российского рынка ИТ-индустрии, которые дают возможность
        не только участвовать в амбициозных проектах, но и расти в
        профессиональной и материальной сферах.
      </div>
    </div>
    <div class="reviews__slider">
      <div class="reviews__slider-wrapper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review-text-card">
                <div class="review-text-card__top-row">
                  <div class="review-text-card__image-container">
                    <img
                      src="/images/text-reviews/4.webp"
                      alt=""
                      class="review-text-card__image"
                    />
                  </div>
                  <div class="review-text-card__wrapper">
                    <div class="review-text-card__name">Антон Кириллин</div>
                    <div class="review-text-card__position">
                      «Робототехника и компьютерное зрение», <br />
                      2 курс
                    </div>
                  </div>
                </div>
                <div class="review-text-card__text-content">
                  <p>
                    Магистратура Иннополиса предоставляет отличные возможности
                    для развития в научной сфере. Для студентов выделен подвал
                    с большим набор инструментов от дрелей со стамесками до 3Д
                    принтеров и манипуляторов. Дополнительно каждый студент
                    может получить вычислительные мощности серверов университета
                    для академических нужд.
                  </p>
                  <p>
                    Профессора открыты к диалогу и предлагают совместные
                    исследования. Приятным бонусом будет возможность автоматом
                    закрыть курс и денежное вознаграждение за статью,
                    опубликованную в журналах и конференциях высокого уровня.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review-text-card">
                <div class="review-text-card__top-row">
                  <div class="review-text-card__image-container">
                    <img
                      src="/images/text-reviews/6.webp"
                      alt=""
                      class="review-text-card__image"
                    />
                  </div>
                  <div class="review-text-card__wrapper">
                    <div class="review-text-card__name">Диана Савчук</div>
                    <div class="review-text-card__position">
                      «Информационное технологическое предпринимательство»,
                      <br />
                      2 курс
                    </div>
                  </div>
                </div>
                <div class="review-text-card__text-content">
                  <p>
                    Магистратура стала для меня не просто учебной программой, а
                    полноценным акселератором личного и профессионального
                    развития. Она объединяет академические знания, практику и
                    реальную работу с проектами, что делает обучение максимально
                    прикладным.
                  </p>
                  <p>
                    Я стала смотреть на проекты по-другому: не просто как на
                    интересные идеи, а как на продукты, у которых должен быть
                    рынок, клиенты и понятная ценность. Теперь всегда думаю:
                    кому нужен продукт и сколько за него готовы заплатить?
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review-text-card">
                <div class="review-text-card__top-row">
                  <div class="review-text-card__image-container">
                    <img
                      src="/images/text-reviews/5.webp"
                      alt=""
                      class="review-text-card__image"
                    />
                  </div>
                  <div class="review-text-card__wrapper">
                    <div class="review-text-card__name">Мидхат Файрушин</div>
                    <div class="review-text-card__position">
                      «Программная инженерия»,<br />
                      выпускник
                    </div>
                  </div>
                </div>
                <div class="review-text-card__text-content">
                  <p>
                    Два года магистратуры в Иннополисе пролетели незаметно, но
                    дали огромное количество практических знаний. Самое ценное
                    здесь — это отзывчивый преподавательский состав. Доступность
                    профессоров, которые ведут такие сложные курсы, как
                    «Архитектура ПО» или «Инженерия требований», после лекций
                    для консультаций — это всегда норма. Профы всегда
                    ориентированы на то, чтобы знания нашли прикладное
                    применение.
                  </p>
                  <p>
                    Забота ощущается на каждом шагу: от момента заселения в
                    современное общежитие до помощи в организации учебного
                    процесса. Городской кампус безопасен и предоставляет все
                    необходимое для жизни. Чувствуешь себя частью большого и
                    дружного сообщества единомышленников.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-arrows reviews__slider-arrows">
        <button
          class="slider-arrows__btn slider-arrows__btn--prev"
          type="button"
        >
          <svg
            width="14"
            height="14"
            aria-hidden="true"
            class="icon-arrow-right"
          >
            <use xlink:href="#slider-arrow-left"></use>
          </svg>
        </button>
        <button
          class="slider-arrows__btn slider-arrows__btn--next"
          type="button"
        >
          <svg
            width="14"
            height="14"
            aria-hidden="true"
            class="icon-arrow-right"
          >
            <use xlink:href="#slider-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
