<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="medium-heading reviews__heading">
                Отзывы студентов
            </h2>
            <div class="reviews__text">
                Мы заботимся о том, чтобы выпускники устроились на достойные позиции в компании-лидеры российского рынка
                ИТ-индустрии, которые дают возможность не только участвовать в амбициозных проектах, но и расти в
                профессиональной и материальной сферах.
            </div>
        </div>
        <div class="reviews__slider">
            <div class="reviews__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="review-video-card">
                                <div class="review-video-card__image-container">
                                    <img src="/images/video-reviews/1.webp" alt="" class="review-video-card__image">
                                </div>
                                <h3 class="review-video-card__title">
                                    Артем
                                </h3>
                                <div class="review-video-card__position">
                                    «Анализ данных и искусственный интеллект»,
                                    1 курс
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="review-video-card">
                                <div class="review-video-card__image-container">
                                    <img src="/images/video-reviews/2.webp" alt="" class="review-video-card__image">
                                </div>
                                <h3 class="review-video-card__title">
                                    Сильвия
                                </h3>
                                <div class="review-video-card__position">
                                    «Инженерия информационных систем»,
                                    1 курс
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="review-video-card">
                                <div class="review-video-card__image-container">
                                    <img src="/images/video-reviews/3.webp" alt="" class="review-video-card__image">
                                </div>
                                <h3 class="review-video-card__title">
                                    Макар
                                </h3>
                                <div class="review-video-card__position">
                                    «AI360: Инженерия данных»,
                                    выпускник
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="review-video-card">
                                <div class="review-video-card__image-container">
                                    <img src="/images/video-reviews/1.webp" alt="" class="review-video-card__image">
                                </div>
                                <h3 class="review-video-card__title">
                                    Артем
                                </h3>
                                <div class="review-video-card__position">
                                    «Анализ данных и искусственный интеллект»,
                                    1 курс
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrows reviews__slider-arrows">
                <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>