<section class="salaries">
  <div class="salaries__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Бакалаврам и магистрам</h3>
    </header>

    <div class="salaries__grid">

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 25 000 – 35 000 ₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От университета<span class="salary-card__asterisk">*</span></h3>

        <div class="salary-card__cols">
          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Бюджетники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Бакалавриат</span>
              <span class="salary-card__value text-medium--m">до 10 000 ₽</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Магистратура</span>
              <span class="salary-card__value text-medium--m">до 20 000 ₽</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Государственная стипендия</span>
              <span class="salary-card__value text-medium--m">до 15 000 ₽</span>
            </p>
          </div>

          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Платники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия активистам</span>
              <span class="salary-card__value text-medium--m">6 000 ₽</span>
            </p>
          </div>
          <p class="salary-card__note text-base--m">Стипендия платится: бакалаврам — 3 года, магистрам — 1 год</p>
        </div>
      </article>

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 50 000₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От государства<span class="salary-card__asterisk">*</span></h3>
        <p class="salary-card__subtitle text-medium--sb">Бюджетники и платники, в месяц</p>

        <div class="salary-card__cols">
          <div class="salary-card__col">

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия Президента РФ </span>
              <span class="salary-card__value text-medium--m">от 2200₽ до 7000₽ на 1 год</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия Раиса РТ </span>
              <span class="salary-card__value text-medium--m">10 000₽ на весь срок обучения</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Грант Президента РФ</span>
              <span class="salary-card__value text-medium--m">20 000₽ на весь срок обучения</span>
            </p>
          </div>

          <div class="salary-card__col">
            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия Правительства РФ</span>
              <span class="salary-card__value text-medium--m">5000₽ на 1 год</span>
            </p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Транспортный грант РТ</span>
              <span class="salary-card__value text-medium--m">8000₽ единоразово</span>
            </p>
          </div>
          <p class="salary-card__note text-base--m">
            Иностранным гражданам и лицам без гражданства, обучающимся в
            пределах квоты, установленной Правительством РФ, государственная стипендия назначается на весь срок
            обучения. Успеваемость на стипендию не влияет.
          </p>
        </div>
      </article>

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 12 000₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От выпускников</h3>

        <div class="salary-card__cols">
          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Бюджетники и платники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">Стипендия 1519 </span>
              <span class="salary-card__value text-medium--m">12 000₽ на полгода</span>
            </p>
          </div>
        </div>
        <a href="#" class="salary-card__link text-base--m">Подробнее</a>
      </article>

      <article class="salary-card">
        <div class="salary-card__badge text-base--m">До 40 000₽/мес.</div>

        <h3 class="salary-card__title headline--bold">От партнеров</h3>

        <div class="salary-card__cols">
          <div class="salary-card__col">
            <p class="salary-card__subtitle text-medium--sb">Бюджетники и платники, в месяц</p>

            <p class="salary-card__line">
              <span class="salary-card__label text-base--m">На программе AI 360 от Яндекса и Сбера</span>
              <span class="salary-card__value text-medium--m">до 40 000 ₽</span>
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="salary-note">
      <div class="salary-note__content">
        <svg width="60" height="60" aria-hidden="true">
          <use xlink:href="#asterisk"></use>
        </svg>
        <p class="salary-note__text text-medium--m">
          Важно: университетская и государственная стипендии не выплачиваются <br>
          в течение следующего семестра, если студент получает оценку C, D или F. <br>
          Выплаты возобновляются, если семестр сдан на A и B.
        </p>
      </div>
    </div>
  </div>
</section>