<section class="science">
    <div class="science__content">
        <div class="science__top-row">
            <h2 class="secondary-heading">
                наука
            </h2>
            <a href="#" class="btn btn--white-with-green-outline">
                О научной деятельности
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="science__bottom-row">
            <div class="science__pub">
                <h3 class="science__secondary-heading">
                    Топ цитируемых публикаций
                </h3>
                <div class="science__pub-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-649
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Microservices: Yesterday, today, and tomorrow
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2017) Present and Ulterior Software Engineering
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Dragoni N., Giallorenzo S., Lafuente A.L., Mazzara M., Montesi F., Mustafin R.,
                                        Safina L.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-389
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Machine Learning in IoT Security: Current Solutions and Future Challenges
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2020) IEEE Communications Surveys and Tutorials
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Hussain F., Hussain R., Hassan S.A., Hossain E.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-321
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Autonomus Cars: Research Results, Issues, and Future Challenges
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2019) Communications on Applied Mathematics and Computation, 13(4)
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Hussain R., Zeadally S.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-224
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Remote health monitoring of elderly through wearable sensors
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2019) Multimedia Tools and Applications
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Al-khafajiy M., Baker T., Chalmers C., Asim M., Kolivand H., Fahim M., Waraich
                                        A.
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-216
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Edge-Computing-Enabled Smart Cities: A Comprehensive Survey
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2020) IEEE Internet of Things Journal
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Khan L.U., Yaqoob I., Tran N.H., Kazmi S.M.A., Dang T.N., Hong C.S.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-201
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Machine Learning for Resource Management in Cellular and IoT Networks:
                                        Potentials, Current Solutions, and Open Challenges
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2020) IEEE Communications Surveys and Tutorials
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Hussain F., Hassan S.A., Hussain R., Hossain E.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-200
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Design and analysis of secure lightweight remote user authentication and key
                                        agreement scheme in internet of drones deployment
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2019) IEEE Internet of Things Journal
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Wazid M., Das A.K., Kumar N., Vasilakos A.V., Rodrigues J.J.P.C.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-183
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        AI for next generation computing: Emerging trends and future directions
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2022) Internet of Things (Netherlands)
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Gill S.S., Xu M., Ottaviani C., Patros P., Bahsoon R., Shaghaghi A., Golec M.,
                                        Stankovski V., Wu H., Abraham A., Singh M., Mehta H., Ghosh S.K., Baker T.,
                                        Parlikad A.K., Lutfiyya H., Kanhere S.S., Sakellariou R., Dustdar S., Rana O.,
                                        Brandic I., Uhlig S.
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-167
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Named Data Networking in Vehicular Ad Hoc Networks: State-of-the-Art and
                                        Challenges
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2020) IEEE Communications Surveys and Tutorials
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Khelifi H., Luo S., Nour B., Moungla H., Faheem Y., Hussain R., Ksentini A.
                                    </div>
                                </a>
                                <a href="#" class="science__pub-card">
                                    <div class="science__pub-card-tags">
                                        <div class="science__pub-card-tag">
                                            h-163
                                        </div>
                                    </div>
                                    <h4 class="science__pub-card-title">
                                        Design of secure key management and user authentication scheme for fog computing
                                        services
                                    </h4>
                                    <div class="science__pub-card-book-name">
                                        (2019) Future Generation Computer Systems
                                    </div>
                                    <div class="science__pub-card-authors-name">
                                        Wazid M., Das A.K., Kumar N., Vasilakos A.V.
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="slider-arrows science__slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="science__scientists">
                <h3 class="science__secondary-heading">
                    Ведущие учёные университета
                </h3>
                <div class="science__scientists-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="science__scientists-slider-card">
                                    <div class="science__scientists-slider-card-image-container">
                                        <img src="/images/scientist.webp" alt="">
                                    </div>
                                    <div class="science__scientists-slider-card-title">
                                        Владимир Иванов
                                    </div>
                                    <div class="science__scientists-slider-card-email">
                                        v.ivanov@innopolis.ru
                                    </div>
                                    <div class="science__scientists-slider-card-desc">
                                        Нереальный ученый и автор работ по такой-то технологии и такой-то. И еще
                                        какие-то интересные данные о человеке.
                                    </div>
                                    <div class="science__scientists-slider-card-position">
                                        <p>
                                            Кандидат физико-математических наук
                                        </p>
                                        <p>
                                            Лаборатория такая-то
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="science__scientists-slider-card">
                                    <div class="science__scientists-slider-card-image-container">
                                        <img src="/images/scientist.webp" alt="">
                                    </div>
                                    <div class="science__scientists-slider-card-title">
                                        Владимир Иванов
                                    </div>
                                    <div class="science__scientists-slider-card-email">
                                        v.ivanov@innopolis.ru
                                    </div>
                                    <div class="science__scientists-slider-card-desc">
                                        Нереальный ученый и автор работ по такой-то технологии и такой-то. И еще
                                        какие-то интересные данные о человеке.
                                    </div>
                                    <div class="science__scientists-slider-card-position">
                                        <p>
                                            Кандидат физико-математических наук
                                        </p>
                                        <p>
                                            Лаборатория такая-то
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="science__scientists-slider-card">
                                    <div class="science__scientists-slider-card-image-container">
                                        <img src="/images/scientist.webp" alt="">
                                    </div>
                                    <div class="science__scientists-slider-card-title">
                                        Владимир Иванов
                                    </div>
                                    <div class="science__scientists-slider-card-email">
                                        v.ivanov@innopolis.ru
                                    </div>
                                    <div class="science__scientists-slider-card-desc">
                                        Нереальный ученый и автор работ по такой-то технологии и такой-то. И еще
                                        какие-то интересные данные о человеке.
                                    </div>
                                    <div class="science__scientists-slider-card-position">
                                        <p>
                                            Кандидат физико-математических наук
                                        </p>
                                        <p>
                                            Лаборатория такая-то
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrows science__slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>