<section class="smallnews">
  <div class="smallnews__content">
    <div class="smallnews__content__header">
      <h2 class="smallnews__content__title">Новости</h2>
      <a href="#" class="smallnews__content__link">
        <span class="smallnews__content__link__text">Все новости</span>
      </a>
    </div>
    <div class="smallnews__content__news">
      <div class="smallnews__content__news__item">
        <div class="smallnews__content__news__item__info">
          <div class="smallnews__content__news__item__image">
            <img src="images/smallnews.webp" alt="новость" />
          </div>
          <h3 class="smallnews__content__news__item__title">
            Выставка технологических решений «Дрон-гараж»
          </h3>
          <p class="smallnews__content__news__item__description">
            Техдиректор Nuha Tech и ассистент Лаборатории машинного обучения и
            представления данных Махмуд Мусатат
          </p>
        </div>
        <div class="smallnews__content__news__item__footer">
          <span class="smallnews__content__news__item__footer__date">
            04.05.2025
          </span>
          <a href="#" class="smallnews__content__news__item__footer__link">
            <span class="smallnews__content__news__item__footer__link__text">
              Читать</span
            >
          </a>
        </div>
      </div>
      <div class="smallnews__content__news__item">
        <div class="smallnews__content__news__item__info">
          <div class="smallnews__content__news__item__image">
            <img src="images/smallnews.webp" alt="новость" />
          </div>
          <h3 class="smallnews__content__news__item__title">
            Конференция по искусственному интеллекту
          </h3>
          <p class="smallnews__content__news__item__description">
            Международная конференция по машинному обучению и нейронным сетям в
            Университете Иннополис
          </p>
        </div>
        <div class="smallnews__content__news__item__footer">
          <span class="smallnews__content__news__item__footer__date">
            15.05.2025
          </span>
          <a href="#" class="smallnews__content__news__item__footer__link">
            <span class="smallnews__content__news__item__footer__link__text">
              Читать</span
            >
          </a>
        </div>
      </div>
      <div class="smallnews__content__news__item">
        <div class="smallnews__content__news__item__info">
          <div class="smallnews__content__news__item__image">
            <img src="images/smallnews.webp" alt="новость" />
          </div>
          <h3 class="smallnews__content__news__item__title">
            Хакатон по разработке мобильных приложений
          </h3>
          <p class="smallnews__content__news__item__description">
            48-часовой марафон программирования для студентов и молодых
            разработчиков
          </p>
        </div>
        <div class="smallnews__content__news__item__footer">
          <span class="smallnews__content__news__item__footer__date">
            22.05.2025
          </span>
          <a href="#" class="smallnews__content__news__item__footer__link">
            <span class="smallnews__content__news__item__footer__link__text">
              Читать</span
            >
          </a>
        </div>
      </div>
      <div class="smallnews__content__news__item">
        <div class="smallnews__content__news__item__info">
          <div class="smallnews__content__news__item__image">
            <img src="images/smallnews.webp" alt="новость" />
          </div>
          <h3 class="smallnews__content__news__item__title">
            Мастер-класс по робототехнике
          </h3>
          <p class="smallnews__content__news__item__description">
            Практические занятия по сборке и программированию роботов для
            школьников
          </p>
        </div>
        <div class="smallnews__content__news__item__footer">
          <span class="smallnews__content__news__item__footer__date">
            29.05.2025
          </span>
          <a href="#" class="smallnews__content__news__item__footer__link">
            <span class="smallnews__content__news__item__footer__link__text">
              Читать</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
