<section class="stages">
    <div class="stages__content">
        <h2 class="medium-heading stages__heading">
            У нас три ступени обучения
        </h2>
        <div class="stages__text">
            Университет Иннополис — вуз-инноватор, один из лидеров системы высшего образования. Обучение с
            преподавателями мирового уровня и акцентом на практику.
        </div>
        <div class="stages__image-wrapper">
            <img src="/images/stages.webp" alt="" class="stages__image">
        </div>
        <div class="stages__slider">
            <div class="stages__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="stages__slider-card">
                                <div class="stages__slider-card-label">
                                    1 курс
                                </div>
                                <h3 class="stages__slider-card-heading">
                                    Фундамент и развитие
                                </h3>
                                <div class="stages__slider-card-text">
                                    В первый год закладывается основа ИТ-образования — студенты изучают
                                    компьютерные науки и математику. Вы будете изучать программирование,
                                    компьютерную архитектуру, проектирование, логику, дискретную математику,
                                    математический анализ, линейную алгебру.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stages__slider-card">
                                <div class="stages__slider-card-label">
                                    2 курс
                                </div>
                                <h3 class="stages__slider-card-heading">
                                    Индивидуальная траектория обучения
                                </h3>
                                <div class="stages__slider-card-text">
                                    <p>
                                        Со второго курса вы выберете специализированный трек в рамках программы
                                        обучения. Практико-ориентированный бакалавриат — это уникальная
                                        особенность Университета Иннополиса. Получив знания за три года
                                        теоретического обучения, вы сможете провести целый год в индустрии.
                                    </p>
                                    <p>
                                        IT — это прикладная сфера, навыки решают все. Наша задача сделать вас
                                        сильным специалистом, который сможет принести пользу и быть
                                        востребованным на рынке труда.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stages__slider-card">
                                <div class="stages__slider-card-label">
                                    4 курс
                                </div>
                                <h3 class="stages__slider-card-heading">
                                    Годовая практика в индустрии
                                </h3>
                                <div class="stages__slider-card-text">
                                    <p>
                                        Практико-ориентированный бакалавриат — это уникальная особенность Университета
                                        Иннополиса. Получив знания за три года теоретического обучения, вы сможете
                                        провести целый год в индустрии.
                                    </p>
                                    <p>
                                        IT — это прикладная сфера, навыки решают все. Наша задача сделать вас сильным
                                        специалистом, который сможет принести пользу и быть востребованным на рынке
                                        труда.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrows stages__slider-arrows">
                <button class="slider-arrows__btn slider-arrows__btn--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn slider-arrows__btn--next" type="button">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>