<section class="subjects">
    <div class="subjects__content">
        <h2 class="medium-heading subjects__heading">
            Программы обучения
        </h2>
        <ul class="subjects__list">
            <li class="subjects__list-item">
                <a href="#" class="subject-card">
                    <div class="subject-card__top-row">
                        <div class="subjects-card__icon">
                            <img src="/images/subject-cards/6.svg" alt="" class="subject-card__icon-image">
                        </div>
                        <h3 class="subjects-card__title">
                            Управление цифровым продуктом
                        </h3>
                    </div>
                    <div class="subject-card__desc">
                        Пройдите путь от новичка, до профессионального ИТ-менеджера и CEO собственного проекта.
                        Полноценное образование и возможность создать продукт под наставничеством опытных специалистов.
                    </div>
                    <ul class="subject-card__features-list">
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Очная в формате онлайн
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Форма обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    0
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Бюджетных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Русский
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Язык обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    25
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Платных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="subjects__list-item">
                <a href="#" class="subject-card">
                    <div class="subject-card__top-row">
                        <div class="subjects-card__icon">
                            <img src="/images/subject-cards/7.svg" alt="" class="subject-card__icon-image">
                        </div>
                        <h3 class="subjects-card__title">
                            Управление на основе данных
                        </h3>
                    </div>
                    <div class="subject-card__desc">
                        Станьте компетентным управляющим ИТ-продукта и перейдите на новый уровень карьеры! Ключевые
                        навыки администрирования и преподаватели мирового уровня.
                    </div>
                    <ul class="subject-card__features-list">
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Очная в формате онлайн
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Форма обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    0
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Бюджетных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Русский
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Язык обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    25
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Платных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="subjects__list-item">
                <a href="#" class="subject-card">
                    <div class="subject-card__labels">
                        <div class="subject-card__label">
                            Лаборатория Касперского
                        </div>
                        <div class="subject-card__label subject-card__label--red">
                            Positive Technologies
                        </div>
                    </div>
                    <div class="subject-card__top-row">
                        <div class="subjects-card__icon">
                            <img src="/images/subject-cards/8.svg" alt="" class="subject-card__icon-image">
                        </div>
                        <h3 class="subjects-card__title">
                            Кибербезопасность
                        </h3>
                    </div>
                    <div class="subject-card__desc">
                        Получите комплексную подготовку с практическим уклоном в тестирование на проникновение,
                        расследование инцидентов, обеспечение безопасности. Станьте специалистом по кибербезопасности
                        высокого класса.
                    </div>
                    <ul class="subject-card__features-list">
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Очная в формате онлайн
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Форма обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    0
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Бюджетных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Русский
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Язык обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    25
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Платных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="subjects__list-item">
                <a href="#" class="subject-card">

                    <div class="subject-card__top-row">
                        <div class="subjects-card__icon">
                            <img src="/images/subject-cards/9.svg" alt="" class="subject-card__icon-image">
                        </div>
                        <h3 class="subjects-card__title">
                            Управление разработкой компьютерных игр
                        </h3>
                    </div>
                    <div class="subject-card__desc">
                        Для тех, кто хочет управлять разработкой компьютерных игр. Получите ключевые навыки для геймдева
                        — от дизайна и программирования, до продюсирования и маркетинга.
                    </div>
                    <ul class="subject-card__features-list">
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Очная в формате онлайн
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Форма обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    0
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Бюджетных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    Русский
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Язык обучения
                                </div>
                            </div>
                        </li>
                        <li class="subject-card__features-list-item">
                            <div class="subject-card__features-card">
                                <h4 class="subject-card__features-card-title">
                                    25
                                </h4>
                                <div class="subject-card__features-card-text">
                                    Платных мест
                                </div>
                                <div class="subject-card__features-card-labels">
                                    <div class="subject-card__features-card-label">
                                        на 2025
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</section>