<section class="subjects js-tabs">
    <div class="subjects__content">
        <h2 class="medium-heading subjects__heading">
            Программы обучения
        </h2>
        <div class="tabs-nav subjects__tabs-nav">
            <ul class="tabs-nav__list">
                <li class="tabs-nav__list-item">
                    <a href="#" class="tabs-nav__link js-tabs-btn active">
                        На русском
                    </a>
                </li>
                <li class="tabs-nav__list-item">
                    <a href="#" class="tabs-nav__link js-tabs-btn">
                        На английском
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs-items">
            <div class="tabs-item__item js-tabs-item">
                <ul class="subjects__list">
                    <li class="subjects__list-item">
                        <a href="#" class="subject-card">

                            <div class="subject-card__top-row">
                                <div class="subjects-card__icon">
                                    <img src="/images/subject-cards/1.svg" alt="" class="subject-card__icon-image">
                                </div>
                                <h3 class="subjects-card__title">
                                    Математические основы искусственного интеллекта
                                </h3>
                            </div>
                            <div class="subject-card__desc">
                                Фундаментальные научные знания по математике, адаптированные к сфере ИИ. Программу ведут
                                ученые Университета Иннополис, МФТИ, ВШЭ, ИТМО, Сколтеха, МГУ и эксперты из AIRI, ИСП
                                РАН, Яндекса, Сбера, Тинькофф.
                            </div>
                            <ul class="subject-card__features-list">
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Очная
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Форма обучения
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            300
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Проходной балл ЕГЭ на бюджет
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2024
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            34
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Бюджетных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            176
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Платных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Русский
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Язык обучения
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </a>
                    </li>
                    <li class="subjects__list-item">
                        <a href="#" class="subject-card">
                            <div class="subject-card__labels">
                                <div class="subject-card__label">
                                    Сбер
                                </div>
                                <div class="subject-card__label subject-card__label--red">
                                    Яндекс
                                </div>
                            </div>
                            <div class="subject-card__top-row">
                                <div class="subjects-card__icon">
                                    <img src="/images/subject-cards/2.svg" alt="" class="subject-card__icon-image">
                                </div>
                                <h3 class="subjects-card__title">
                                    AI360: Инженерия данных
                                </h3>
                            </div>
                            <div class="subject-card__desc">
                                Первая в России программа высшего образования для будущих архитекторов и исследователей
                                ИИ, запущенная вместе с Яндексом и Сбером. Выпускники программы смогут претендовать на
                                позиции уровня middle+ в ведущих ИТ-компаниях.
                            </div>
                            <ul class="subject-card__features-list">
                                <li class="subject-card__features-list-item subject-card__features-list-item--wide">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Очная
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Форма обучения
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            0
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Бюджетных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            18
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Платных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Русский
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Язык обучения
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </a>
                    </li>
                    <li class="subjects__list-item">
                        <a href="#" class="subject-card">

                            <div class="subject-card__top-row">
                                <div class="subjects-card__icon">
                                    <img src="/images/subject-cards/3.svg" alt="" class="subject-card__icon-image">
                                </div>
                                <h3 class="subjects-card__title">
                                    Робототехника
                                </h3>
                            </div>
                            <div class="subject-card__desc">
                                <p>
                                    Программа дает комплексные знания по созданию роботизированных систем с применением
                                    ИИ, машинного обучения и компьютерного зрения.
                                </p>
                                <p>
                                    Вы будете участвовать в индустриальных проектах и получите практический опыт в
                                    разработке беспилотников, сенсорики, умных роботов и автономных систем.
                                </p>
                            </div>
                            <ul class="subject-card__features-list">
                                <li class="subject-card__features-list-item subject-card__features-list-item--wide">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Очная
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Форма обучения
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            0
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Бюджетных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            30
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Платных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Русский
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Язык обучения
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tabs-item__item js-tabs-item active">
                <ul class="subjects__list">

                    <li class="subjects__list-item">
                        <a href="#" class="subject-card">
                            <div class="subject-card__labels">
                                <div class="subject-card__label subject-card__label--lightgreen">
                                    ПИШ
                                </div>
                            </div>
                            <div class="subject-card__top-row">
                                <div class="subjects-card__icon">
                                    <img src="/images/subject-cards/4.svg" alt="" class="subject-card__icon-image">
                                </div>
                                <h3 class="subjects-card__title">
                                    Инженерия информационных систем
                                </h3>
                            </div>
                            <div class="subject-card__desc">
                                Профиль для тех, кто хочет заниматься разработкой софта или компьютерной безопасностью.
                                Вы погрузитесь в «кодинг» и станете профессионалами своего дела.
                            </div>
                            <ul class="subject-card__features-list">
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Очная
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Форма обучения
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            279
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Проходной балл
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2024
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            65
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Бюджетных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            115
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Платных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Английский
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Язык обучения
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </a>
                    </li>
                    <li class="subjects__list-item">
                        <a href="#" class="subject-card">

                            <div class="subject-card__top-row">
                                <div class="subjects-card__icon">
                                    <img src="/images/subject-cards/5.svg" alt="" class="subject-card__icon-image">
                                </div>
                                <h3 class="subjects-card__title">
                                    Анализ данных и искусственный интеллект
                                </h3>
                            </div>
                            <div class="subject-card__desc">
                                Профиль поможет получить системные знания для понимания принципа работы,
                                совершенствования и применения технологий ИИ в построении программных продуктов.
                            </div>
                            <ul class="subject-card__features-list">
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Очная
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Форма обучения
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            285
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Проходной балл
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2024
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            35
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Бюджетных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            130
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Платных мест
                                        </div>
                                        <div class="subject-card__features-card-labels">
                                            <div class="subject-card__features-card-label">
                                                на 2025
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="subject-card__features-list-item">
                                    <div class="subject-card__features-card">
                                        <h4 class="subject-card__features-card-title">
                                            Английский
                                        </h4>
                                        <div class="subject-card__features-card-text">
                                            Язык обучения
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>