<section class="subjects">
  <div class="subjects__content">
    <h2 class="medium-heading subjects__heading">Программы обучения</h2>
    <div class="subject__languages">
      <div class="subject__languages-item item_rus active">
        <span class="subject__languages-item-title">На русском</span>
      </div>
      <div class="subject__languages-item item_eng">
        <span class="subject__languages-item-title">На английском</span>
      </div>
    </div>
    <ul class="subjects__list list-rus">
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/10.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Робототехника и компьютерное зрение
            </h3>
          </div>
          <div class="subject-card__desc">
            Программа для тех, кто хочет разрабатывать сложные робототехнические
            системы, управлять и настраивать различные типы актуаторов,
            обрабатывать и визуализировать данные с сенсоров — камер, лидаров,
            инерциальных измерительных устройств и других
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">10</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Русский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">15</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/11.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Информационное технологическое предпринимательство
            </h3>
          </div>
          <div class="subject-card__desc">
            Магистерская программа для предпринимателей в сфере ИТ помогает
            увеличить объем знаний и прикладного опыта. Более 30% проектов
            выпускников сгенерировали выручку после первого года обучения.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">10</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Русский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">15</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/12.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">Кибербезопасность</h3>
          </div>
          <div class="subject-card__desc">
            Фундаментальные научные знания по математике, адаптированные к сфере
            ИИ. Программу ведут ученые Университета Иннополис, МФТИ, ВШЭ, ИТМО,
            Сколтеха, МГУ и эксперты из AIRI, ИСП РАН, Яндекса, Сбера, Тинькофф.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">0</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Русский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">25</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__labels">
            <div class="subject-card__label subject-card__label--blue">КФУ</div>
            <div class="subject-card__label subject-card__label--grey">
              Нетология
            </div>
          </div>
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/13.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Управление бизнес-аналитикой в ИТ
            </h3>
          </div>
          <div class="subject-card__desc">
            Вы научитесь управлять ресурсами в IT-бизнесе, анализировать
            стратегическое развитие бизнеса, выстраивать стратегический
            маркетинг, управлять информационной безопасностью и погрузитесь в
            эконометрику. Программа магистратуры Казанского федерального
            университета, реализуется при поддержке Университета Иннополис.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">0</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Русский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">15</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__labels">
            <div class="subject-card__label subject-card__label--blue">
              Московский Политех
            </div>
          </div>
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/14.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Инженерия безопасности компьютерных систем и сетей
            </h3>
          </div>
          <div class="subject-card__desc">
            Программа предлагает современное образование в области
            кибербезопасности. Главная особенность программы — практическая
            подготовка на площадке цифровой лаборатории «Иннокиберполигон».
            Реализуется Университетом Иннополис совместно с Московским
            Политехом.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">0</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Русский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">60</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
    </ul>
    <ul class="subjects__list list-eng" style="display: none">
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__labels">
            <div class="subject-card__label">ПИШ</div>
          </div>
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/15.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">Программная инженерия</h3>
          </div>
          <div class="subject-card__desc">
            Программа поможет научиться применять лучшие практики в управлении
            командой разработки, проектировании систем различной сложности,
            коммуникации и работе с заказчиком, а также в организации и
            управлении качеством ПО.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">20</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Английский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">30</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__labels">
            <div class="subject-card__label">ПИШ</div>
          </div>
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/14.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Инженерия безопасности систем и сетей
            </h3>
          </div>
          <div class="subject-card__desc">
            Изучение концепций и принципов в области компьютерной безопасности
            и сетевой инженерии. Вы научитесь применить знания на практике,
            столкнетесь с задачами, которые позволят подготовиться к реальным
            ситуациям в индустрии.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">13</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Английский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">12</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
      <li class="subjects__list-item">
        <a href="#" class="subject-card">
          <div class="subject-card__labels">
            <div class="subject-card__label">ПИШ</div>
          </div>
          <div class="subject-card__top-row">
            <div class="subjects-card__icon">
              <img
                src="/images/subject-cards/16.svg"
                alt=""
                class="subject-card__icon-image"
              />
            </div>
            <h3 class="subjects-card__title">
              Искусственный интеллект и инженерия данных
            </h3>
          </div>
          <div class="subject-card__desc">
            Программа обучает студентов современным технологиям искусственного
            интеллекта и различным аспектам работы с данными. Для тех, кто хочет
            заниматься исследованиями в области машинного обучения и разработкой
            систем, использующих анализ данных и технологии ИИ.
          </div>
          <ul class="subject-card__features-list">
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Очная</h4>
                <div class="subject-card__features-card-text">
                  Форма обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">12</h4>
                <div class="subject-card__features-card-text">
                  Бюджетных мест
                </div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">Английский</h4>
                <div class="subject-card__features-card-text">
                  Язык обучения
                </div>
              </div>
            </li>
            <li class="subject-card__features-list-item">
              <div class="subject-card__features-card">
                <h4 class="subject-card__features-card-title">13</h4>
                <div class="subject-card__features-card-text">Платных мест</div>
                <div class="subject-card__features-card-labels">
                  <div class="subject-card__features-card-label">на 2025</div>
                </div>
              </div>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </div>
</section>
