<section class="tech-events">
  <div class="tech-events__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Наши мероприятия</h3>
    </header>

    <article class="tech-events__card">
      <div class="tech-events__card-content">
        <div class="tech-events__meta">
          <time class="tech-events__date text--m">октябрь, 2025</time>
          <hr class="tech-events__separator">
          <span class="tech-events__format text-base--m">онлайн</span>
        </div>

        <header class="tech-events__header">
          <h3 class="tech-events__title headline--m">Наши мероприятия</h3>

          <div class="tech-events__tags">
            <span class='tag'>бизнесу</span> <span class='tag'>образование</span>
          </div>

          <p class="tech-events__desc text-base--m">Форум о цифровой независимости в бизнесе и образовании</p>
        </header>
      </div>

      <div class="tech-events__image">
        <img src="/images/technologies-event.png" alt="Наши мероприятия">
      </div>
    </article>

  </div>
</section>