<section class="tech-services">
  <div class="tech-services__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Услуги</h3>
    </header>

    <div class="article-card__list">
      <div class="article-card">
        <img class="article-card__image" src="/images/cards/card-1.png" alt="Консалтинг" />
        <h3 class="article-card__title">Консалтинг</h3>
        <p class="article-card__desc">Какое-то краткое описание к услуге</p>
        <a href="#" class="btn btn--white-with-green-outline">
          Подробнее
        </a>
      </div>
      <div class="article-card">
        <img class="article-card__image" src="/images/cards/card-2.png" alt="Вторая услуга" />
        <h3 class="article-card__title">Вторая услуга</h3>
        <p class="article-card__desc">Какое-то краткое описание к услуге</p>
        <a href="#" class="btn btn--white-with-green-outline">
          Подробнее
        </a>
      </div>
    </div>

  </div>
</section>