<section class="tech-events">
  <div class="tech-events__content">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Наши мероприятия</h3>
    </header>


    <ul class="events__list">
      <li class="events__list-item events__list-item--full">
        <a href="https://digitalinnopolisdays.ru/" class="events__card events__card--full">
          <div class="events__card-content">
            <div class="events__card-meta">
              <div class="events__card-date">
                октябрь, 2025
              </div>
              <div class="events__card-format">
                онлайн
              </div>
            </div>
            <div class="events__card-body">
              <h3 class="events__card-title">
                Digital Innopolis Days
              </h3>

              <div class="events__card-tags">
                <div class="events__card-tag">
                  бизнесу
                </div>
                <div class="events__card-tag">
                  образование
                </div>
              </div>
              <div class="events__card-text">
                Форум о цифровой независимости в бизнесе и образовании
              </div>
            </div>
          </div>
          <div class="events__card-image-container">
            <img src="/images/events/technologies-event.png" alt="" class="events__card-image">
          </div>
        </a>
      </li>
    </ul>

  </div>
</section>