<section class="technologies">
    <div class="technologies__content">
        <div class="technologies__top-row">
            <h2 class="secondary-heading secondary-heading--dark career__heading">
                ТЕХНОЛОГИИ
            </h2>
            <a href="#" class="btn btn--white career__link">
                О технологиях университета
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#btn-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="technologies__bottom-row">
            <div class="technologies__cards-slider">
                <div class="technologies__cards-slider-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/1.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/2.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/5.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/3.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/4.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="technologies__cards-slider-card">
                                    <img src="/images/technologies/6.webp" alt=""
                                        class="technologies__cards-slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="technologies__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Автоматизация и роботизация
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Создаем, развиваем и поддерживаем решения автоматизации и роботизации
                                    технологических процессов
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Беспилотные авиационные системы
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Разрабатываем комплексные проекты в сфере автоматизации воздушной робототехники
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Индустриальные и промышленные решения
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Разрабатываем удобные отечественные IT-инструменты, создаем комплексные решения в
                                    сфере нефтегазовых технологий и энергетики для ответа на технологические вызовы
                                    современности
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Искусственный интеллект
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Разрабатываем продукты в сфере искусственного интеллекта, создаем R&D-проекты под
                                    нужды компаний, проводим фундаментальные и прикладные исследования
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Геопространственные решения
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Разрабатываем проекты в области цифровизации сельского хозяйства, нефтегазовой
                                    промышленности, экологического мониторинга и космических стандартов, а также создаем
                                    4D-модели городов
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologies__text-slider-card">
                                <h3 class="technologies__text-slider-card-title">
                                    Информационная безопасность
                                </h3>
                                <div class="technologies__text-slider-card-text">
                                    Разрабатываем современные методы обеспечения кибербезопасности и превентивной защиты
                                    от возможных угроз и компьютерных атак
                                </div>
                                <div class="technologies__text-slider-card-btns">
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Заказать разработку
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="btn btn--dark-with-green-outline technologies__program-card-btn">
                                        Готовые решения
                                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#btn-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrows technologies__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--dark slider-arrows__btn--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--dark slider-arrows__btn--next" type="button">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>