<section class="ticker">
    <div class="ticker__wrapper">
        <ul class="ticker__list">
            <li class="ticker__list-item">
                Анализ данных и искусственный интеллект
            </li>
            <li class="ticker__list-item">
                Инженерия безопасности компьютерных систем и сетей
            </li>
            <li class="ticker__list-item">
                Инженерия информационных систем
            </li>
            <li class="ticker__list-item">
                Информационное технологическое предпринимательство
            </li>
            <li class="ticker__list-item">
                Искусственный интеллект и инженерия данных
            </li>
            <li class="ticker__list-item">
                Кибербезопасность
            </li>
            <li class="ticker__list-item">
                Математические основы искусственного интеллекта
            </li>
            <li class="ticker__list-item">
                Математическое моделирование, численные методы и комплексы программ
            </li>
            <li class="ticker__list-item">
                Программная инженерия
            </li>
            <li class="ticker__list-item">
                Робототехника
            </li>
            <li class="ticker__list-item">
                Робототехника и компьютерное зрение
            </li>
            <li class="ticker__list-item">
                Управление бизнес-аналитикой в ИТ
            </li>
            <li class="ticker__list-item">
                Управление на основе данных
            </li>
            <li class="ticker__list-item">
                Управление разработкой компьютерных игр
            </li>
            <li class="ticker__list-item">
                Управление цифровым продуктом
            </li>
            <li class="ticker__list-item">
                AI360: Инженерия данных
            </li>

        </ul>
    </div>
</section>