<section class="university-offer" aria-labelledby="university-offer__title">
  <div class="university-offer__container">

    <header class="block-title__container">
      <h3 class='block-title title_2xl'>Что предлагает университет</h3>
    </header>

    <div class="university-offer__grid">
      <article class="university-offer__card university-offer__card--health">
        <h3 class="university-offer__card-title headline--bold">Здоровье</h3>
        <ul class="university-offer__list">
          <li class="university-offer__list-item">Медицинский кабинет в университете работает 24/7</li>
          <li class="university-offer__list-item">Ежегодные обследования: медицинский осмотр и флюорография</li>
          <li class="university-offer__list-item">Добровольное медицинское страхование: услуги в клиниках и
            стоматологиях</li>
          <li class="university-offer__list-item">Консультации психолога</li>
        </ul>
      </article>

      <article class="university-offer__card university-offer__card--sport">
        <h3 class="university-offer__card-title headline--bold">Спорт</h3>
        <ul class="university-offer__list">
          <li class="university-offer__list-item">Компенсация 55% абонемента спорткомплекса в Иннополисе</li>
          <li class="university-offer__list-item">Бесплатный прокат снаряжения для горнолыжного спорта</li>
          <li class="university-offer__list-item">В свободном доступе волейбольные и баскетбольные площадки, футбольное
            поле, теннисные корты, беговые дорожки, хоккейный корт</li>
        </ul>
      </article>

      <article class="university-offer__card university-offer__card--transport">
        <h3 class="university-offer__card-title headline--bold">Транспорт</h3>
        <ul class="university-offer__list">
          <li class="university-offer__list-item">Бесплатный проезд для сотрудников университета в будни на вахтовом
            автобусе по маршруту Казань-Иннополис</li>
          <li class="university-offer__list-item">Возможность ездить бесплатно 2 раза в день на городском автобусе.
            Расписание в боте @InnoHelpBot</li>
        </ul>
      </article>

      <article class="university-offer__relocation">
        <figure class="university-offer__relocation-figure">
          <img class="university-offer__relocation-image" src="./images/university-offer-relocation.png"
            alt="Комфортные дома кампуса и дворовая площадка">
        </figure>
        <div class="university-offer__relocation-content">
          <div class="university-offer__relocation-header">
            <h3 class="university-offer__relocation-title title_2xl">Релокация</h3>
            <p class="university-offer__relocation-text text--m">Организация переезда в Иннополис</p>
          </div>
          <a class="btn" href="#">Подробнее</a>
        </div>
      </article>

      <article class="university-offer__card university-offer__card--workplace">
        <h3 class="university-offer__card-title headline--bold">Рабочее место</h3>
        <ul class="university-offer__list">
          <li class="university-offer__list-item">Светлые просторные кабинеты и обеспечение техникой</li>
          <li class="university-offer__list-item">Дополнительные рабочие зоны: читальные залы, переговорки с
            оборудованием</li>
          <li class="university-offer__list-item">Столовые, кафе и кофейни на территории, кухни с бесплатным чаем и кофе
          </li>
          <li class="university-offer__list-item">Учебные аудитории: сотрудники слушают лекции приглашаемых спикеров или
            организуют свои</li>
        </ul>
      </article>
    </div>
  </div>
</section>