<section class="useful">
    <div class="useful__content">
        <h2 class="medium-heading useful__heading">
            Полезное
        </h2>
        <ul class="useful__list">
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Об университете
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card useful__card--accent">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Возможности обучения
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Приемная кампания
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Общежитие
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Олимпиадные бонусы
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Стипендии
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">
                        <h3 class="useful__card-title">
                            Магистратура
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="useful__list-item">
                <a href="#" class="useful__card">
                    <div class="useful__card-content">


                        <h3 class="useful__card-title">
                            Аспирантура
                        </h3>
                        <div class="useful__card-arrow">
                            <svg width="16" height="16" aria-hidden="true">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>