<div class="vacancy-card">
  <div class="vacancy-card__header">
    <div class="vacancy-card__title text--l-m">
      Преподаватель курса “Программирование для системных администраторов” института ИБ
    </div>
    <span class='tag'>Частичная занятость</span>
  </div>
  <div class="vacancy-card__footer">
    <p class="vacancy-card__price headline--bold">180 000 ₽</p>
    <a href="#" class="vacancy-card__btn btn btn--gray">
      Откликнуться
    </a>
    <span class="vacancy-card__date">31.05.2025</span>
  </div>
</div>