<div class="work-areas">
  <div class="work-areas__container">
    <header class="block-title__container">
      <h3 class='block-title title_2xl'>В каких направлениях вы можете работать?</h3>
    </header>

    <ul class="work-areas__list">
      <li class="work-areas__list-item">
        <a href="#" class="work-areas__card">
          <h3 class="work-areas__card-title">
            Образование
          </h3>
          <div class="work-areas__card-arrow">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#diagonal-arrow"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="work-areas__list-item">
        <a href="#" class="work-areas__card">
          <h3 class="work-areas__card-title">
            Дополнительное образование
          </h3>
          <div class="work-areas__card-arrow">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#diagonal-arrow"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="work-areas__list-item">
        <a href="#" class="work-areas__card">
          <h3 class="work-areas__card-title">
            Технологии
          </h3>
          <div class="work-areas__card-arrow">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#diagonal-arrow"></use>
            </svg>
          </div>
        </a>
      </li>

      <li class="work-areas__list-item">
        <a href="#" class="work-areas__card">
          <h3 class="work-areas__card-title">
            Наука
          </h3>
          <div class="work-areas__card-arrow">
            <svg width="14" height="14" aria-hidden="true">
              <use xlink:href="#diagonal-arrow"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>