<section class="write-us">
    <div class="write-us__content">
        <div class="write-us__left-col">
            <h2 class="write-us__heading">
                Свяжитесь с нами
            </h2>
            <div class="write-us__text">
                <p>
                    Если у вас остались вопросы, оставьте свои контакты и мы ответим вам.
                </p>

            </div>
            <div class="write-us__contacts">
                <a href="tel:+78002225261" class="write-us__contacts-link">
                    +7 (800) 222-52-61
                </a>
                <a href="mailto:university@innopolis.ru" class="write-us__contacts-link">
                    university@innopolis.ru
                </a>
            </div>
        </div>
        <div class="write-us__right-col">
            <form action="/" method="POST" class="write-us__form">
                <div class="write-us__form-fields">
                    <div class="write-us__form-field">
                        <label class="write-us__form-label">
                            <span class="write-us__form-label-text">
                                Имя
                            </span>
                            <input type="text" name="name" class="write-us__form-input" required="">
                        </label>
                    </div>
                    <div class="write-us__form-field">
                        <label class="write-us__form-label">
                            <span class="write-us__form-label-text">
                                E-mail
                            </span>
                            <input type="email" name="email" class="write-us__form-input" required="">
                        </label>
                    </div>
                    <div class="write-us__form-field">
                        <label class="write-us__form-label">
                            <span class="write-us__form-label-text">
                                Ваш комментарий или вопрос
                            </span>
                            <textarea name="comment" class="write-us__form-input"></textarea>
                        </label>
                    </div>
                </div>
                <div class="file-upload write-us__file-upload js-file-upload">
                    <label class="file-upload__label">
                        <input type="file" name="your-file" class="file-upload__input">
                        <span class="file-upload__btn">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#file"></use>
                            </svg>
                            <span class="file-upload__btn-text js-file-upload-text">
                                Прикрепить файл
                            </span>
                        </span>
                    </label>
                    <div class="file-upload__disclaimer">
                        <p>
                            Можно загрузить не более 3 файлов.
                        </p>
                        <p>
                            Максимальный размер всех файлов 50 MB.
                        </p>
                        <p>
                            Форматы pdf, doc, docx,
                            xls, xlsx, jpeg, zip, png
                        </p>
                    </div>
                </div>
                <button class="btn write-us__form-submit" type="submit">
                    Отправить
                </button>
                <div class="write-us__form-policy">
                    Нажимая кнопку &laquo;Подать заявку&raquo;, вы&nbsp;даёте cоглаcие на&nbsp;обработку <a
                        href="#">перcональных
                        данных</a> в&nbsp;соответствии
                    с&nbsp;<a href="#">Политикой конфиденциальности</a>
                </div>
            </form>
        </div>
    </div>
</section>