@use "../media";

.article-card {
  height: 100%;
  min-height: 40rem;
  background: #fff;
  border-radius: var(--corner-radius-l);
  padding: 2rem;
  flex: 1 1 29rem;
  display: flex !important;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  grid-column: span 1;
}

.article-card__image {
  width: 100%;
  height: auto;
  border-radius: 1.2rem;
  object-fit: cover;
}

.article-card__title {
  font-size: 2rem;
  font-weight: 600;
}

.article-card__desc {
  font-size: 1.6rem;
  color: #333;
  flex-grow: 1;
}

.article-card__date {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--content-primary);
}

.article-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.article-card__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-auto-flow: dense;
}
