@use "../utils";

.blog {
  @include utils.blockWrapper;
  background-color: var(--bg-secondary);
  border-bottom-right-radius: var(--corner-radius-xl);
  border-bottom-left-radius: var(--corner-radius-xl);
  padding: 8rem 6rem;
}

.blog__content {
  @include utils.blockContent;
  flex-direction: column;
}
