.btn {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  align-self: flex-start;
  padding: 1.8rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: white;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  background-color: var(--primary-color);
  border-radius: 8rem;
  border: 1px solid var(--primary-color);
  gap: 1.6rem;

  &:link,
  &:visited {
    color: white;
  }

  svg {
    fill: currentColor;
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;

    width: 2rem;
    height: 2rem;
  }

  &--small {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 1.4rem 2rem;
    svg {
      width: 1.6rem;
      height: 1.6rem;

      &.icon-eye {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &--large {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding: 2.5rem 3.2rem;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &--dark-with-green-outline {
    background-color: var(--dark-bg-color);
    color: white;

    &:link,
    &:visited {
      color: white;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 1rem 0.1rem #5ce937 inset;
      }
    }
  }

  &--white-with-green-outline {
    background-color: white;
    color: var(--text-color);

    &:link,
    &:visited {
      color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 1rem 0.1rem #5ce937 inset;
      }
    }
  }

  &--white {
    background-color: white;
    color: var(--text-color);
    border-color: white;

    &:link,
    &:visited {
      color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 1rem 0.1rem #5ce937 inset;
        border-color: var(--primary-color);
      }
    }
  }

  &--gray {
    background-color: var(--ghost-button-bg);
    color: var(--dark-secondary-button-text);
    border-color: var(--ghost-button-bg);

    &:link,
    &:visited {
      color: var(--dark-secondary-button-text);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 1rem 0.1rem #5ce937 inset;
        border-color: var(--primary-color);
      }
    }
  }

  &--grey {
    background-color: var(--ghost-button-bg-grey);
    color: var(--text-color);
    border-color: var(--ghost-button-bg);

    &:link,
    &:visited {
      color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 1rem 0.1rem #5ce937 inset;
        border-color: var(--primary-color);
      }
    }
  }

  &--dark-ghost {
    background-color: var(--dark-ghost-button-bg);

    &:disabled {
      background-color: transparent;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(:disabled):hover {
        box-shadow: 0 0 1rem 0.1rem var(--green-200) inset;
        border-color: var(--primary-color);
      }
    }
  }

  &--circle {
    padding: 1.8rem;
    border-radius: 50%;
  }
}
