@use "../media";
@use "../utils";

.events {
  @include utils.blockWrapper;
  padding-top: 8rem;
  padding-bottom: 16rem;
  background-color: var(--grey-color);

  &--our-events {
    padding-bottom: 8rem;
  }
}

.events__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.events__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.events__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(33.3rem, auto);
}

.events__list-item {
  display: flex;
  flex-direction: column;

  &--large {
    grid-column: span 2;
    grid-row: span 2;

    .events__card-title {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &--full {
    grid-column: span 4;
    grid-row: span 2;
  }
}

.events__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3.2rem;
  border-radius: 4.8rem;
  border: 1px solid white;
  background: white;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s;
  transition:
    box-shadow 0.2s,
    border-color 0.2s;
  gap: 0.8rem;

  & > *:not(.events__card-image-container) {
    margin-bottom: auto;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 0 1.6rem 0.1rem #5ce937 inset;
      border-color: var(--primary-color);
    }
  }
}

.events__card--full {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.4rem;

  & .events__card-image-container {
    aspect-ratio: 2 / 1.5;
    margin: 0;
  }
}

.events__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.events__card-body {
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}

.events__card-date {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #626883;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #9c9fb8;
}

.events__card-format {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #626883;
}

.events__card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0.4rem;
}

.events__card-text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.events__card-tags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  margin-top: 0.8rem;
}

.events__card-tag {
  text-align: center;
  display: block;
  flex-shrink: 0;
  padding: 0.5rem 1.2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 2.4rem;
  background: var(--pale-green-color);
}

.events__card-image-container {
  position: relative;
  border-radius: 2.4rem;
  overflow: hidden;
  aspect-ratio: 824 / 356;
  margin-top: 2.4rem;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .events--our-events & {
    aspect-ratio: 824 / 412;
  }
}
