@use "../media";
@use "../utils";

.page-footer {
  @include utils.blockWrapper;
  background-color: var(--dark-bg-color);
  color: white;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.page-footer__content {
  @include utils.blockContent;
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  min-height: 40rem;
}

.page-footer__col {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  &::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 100%;
    position: absolute;
    width: 1px;
    margin-left: calc(2.4rem / 2 - 0.5px);
    background-color: #7d82a0;
  }

  &:not(:first-child) {
    padding: 0 2.4rem;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.page-footer__logo {
  align-self: flex-start;
}

.page-footer__logo-image {
  display: block;
  width: 17.2rem;
}

.page-footer__copyright {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: auto;
}

.page-footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.page-footer__contacts-link {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:link {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.page-footer__social {
  margin-bottom: 3.6rem;
  margin-top: auto;
}

.page-footer__social-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.page-footer__social-link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  display: block;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.page-footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.page-footer__nav-link {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}
