.running-line {
  width: 100%;
  overflow: hidden;
  background-color: var(--dark-bg-primary);
  padding: 4.5rem 0 8.5rem;
  --gap: 0;
  --speed: 100s;
}

.running-line__tracks {
  display: flex;
  gap: var(--gap);
  width: max-content;
  animation: scroll var(--speed) linear infinite;
}

.running-line__track {
  flex: 0 0 auto;
  display: block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    /* -50% потому что контент продублирован дважды */
    transform: translateX(-50%);
  }
}
