@use "../media";
@use "../utils";

.science {
  @include utils.blockWrapper;
  padding: 8rem 0;
}

.science__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.science__top-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.science__bottom-row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2.4rem;
}

.science__pub {
  grid-column: 1 / 8;
}

.science__secondary-heading {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 3.2rem;
}

.science__pub-slider {
  display: flex;
  flex-direction: column;

  .swiper {
    margin: 0;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}

.science__pub-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .science__pub-card-title {
        color: var(--primary-color);
      }
    }
  }
}

.science__pub-card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.science__pub-card-tag {
  text-align: center;
  flex-shrink: 0;
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 2.4rem;
  background: var(--pale-green-color);
  color: var(--text-color);
}

.science__pub-card-title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  transition: color 0.2s;
}

.science__pub-card-book-name {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

.science__pub-card-authors-name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #9c9fb8;
}

.science__slider-arrows {
  margin-top: 3.2rem;
}

.science__scientists {
  grid-column: 9 / -1;
}

.science__scientists-slider-card {
  display: block;
}

.science__scientists-slider-card-image-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 584 / 529;
  border-radius: 9rem;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.science__scientists-slider-card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 2.4rem;
}

.science__scientists-slider-card-email {
  color: var(--primary-color);
  margin-top: 0.4rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}

.science__scientists-slider-card-desc {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 1.6rem;
}

.science__scientists-slider-card-position {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #626883;
  margin-top: 1.6rem;
}
