@use "../media";
@use "../utils";

.tabs-nav {
  border-bottom: 1px solid #dbdce7;
}

.tabs-nav__list {
  margin-bottom: -1px;
  display: flex;
}

.tabs-nav__link {
  display: block;
  text-align: center;
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: var(--content-secondary);
  transition: color 0.2s, border-color 0.2s;
  border-bottom: 0.2rem solid transparent;
  position: relative;
  z-index: 2;
  &:link,
  &:visited {
    color: var(--content-secondary);
  }

  &.active {
    color: var(--base-primary-500);
    border-color: var(--base-primary-500);
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(.active):hover {
      color: var(--base-primary-500);
    }
  }
}
