@use '../utils';

.tech-services {
  @include utils.blockWrapper;
  background-color: var(--bg-secondary);
  padding: 8rem 0;
}
.tech-services__content {
  @include utils.blockContent;
  flex-direction: column;
}
