@use "../media";
@use "../utils";

.write-us {
  @include utils.blockWrapper;
  padding: 18rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--dark-bg-color);
  color: white;
  &::before {
    content: "";
    width: 192rem;
    height: 32rem;
    background: radial-gradient(
      50% 73.01% at 50% 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(64, 186, 33, 0.5) 70%,
      rgba(64, 186, 33, 0) 100%
    );
    background: radial-gradient(
      50% 73.01% at 50% 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(112, 184, 94, 0.5) 80%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transform: translateX(-50%);
    left: 50%;
    bottom: 100%;
    margin-bottom: -14.7rem;
  }
  &::after {
    content: "";
    width: 192rem;
    height: 32rem;
    background: radial-gradient(
      52.05% 76.01% at 50% 79.26%,
      #161821 0%,
      rgba(95, 201, 38, 0.6) 40%,
      rgba(87, 211, 25, 0.46) 51.92%,
      rgba(22, 24, 33, 0.1) 83.34%,
      #161821 100%
    );
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    margin-top: -14rem;
  }
}

.write-us__content {
  @include utils.blockContent;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2.4rem;
}

.write-us__left-col {
  grid-column: 4 / 7;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.write-us__heading {
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.4rem;
  margin-top: -0.5rem;
}

.write-us__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;

  p {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.write-us__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 0.8rem;
  z-index: 1;
  margin-top: auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(39, 161, 8, 0.37) 12.98%,
      rgba(39, 161, 8, 0.13) 58.17%,
      rgba(22, 24, 33, 0) 98.56%
    );
    transform: translate(-50%, -50%);
    width: 14.2rem;
    aspect-ratio: 1 / 1;
    z-index: -1;
    pointer-events: none;
    // filter: blur(2px);
  }
}

.write-us__contacts-link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.write-us__right-col {
  grid-column: 7 / 10;
  display: flex;
  flex-direction: column;
}

.write-us__form {
  display: flex;
  flex-direction: column;
}

.write-us__form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.write-us__form-field {
  display: flex;
  flex-direction: column;
}

.write-us__form-label-text {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: #bbbdd0;
  margin-bottom: 0.8rem;
}

.write-us__form-input {
  display: block;
  width: 100%;
  border-radius: 4.8rem;
  // border: 1px solid var(--grey-100, #dbdce7);
  // background: white;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0 2.4rem;
  height: 6.2rem;
  color: white;

  border-radius: 4.8rem;
  border: 1px solid var(--grey-800, #333749);
  background: var(--grey-900, #242835);
}

textarea.write-us__form-input {
  height: 15.2rem;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  border-radius: 2.4rem;
}

.write-us__form-input--dark,
textarea.write-us__form-input--dark {
  border-color: var(--grey-800);
  background-color: var(--grey-900);
}

.write-us__form-policy {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1.6rem;
  color: #bbbdd0;

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 1px;
    transition: color 0.2s, text-decoration-color 0.2s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.write-us__form-submit {
  margin-top: 2.4rem;
}

.write-us__upload {
  margin-top: 12px;
  display: grid;
  gap: 8px;
}

.write-us__file-input {
  position: absolute;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.write-us__file-label {
  gap: 1.2rem;
  padding: 14px 20px;
}

.write-us__hint {
  color: var(--content-secondary);
}

.write-us__fieldset {
  display: flex;
  gap: 16px;
  border: 0;
  padding: 0;
}

.write-us__fieldset--switch .write-us__switch {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.write-us__radio {
  appearance: none;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid var(--dark-content-tertiary);
  background-color: var(--bg-primary);
  margin: 0;
}

.write-us__radio:checked {
  position: relative;
  border: 4px solid var(--base-primary-500);
}

.write-us__switch:has(.write-us__radio:checked) {
  box-shadow: inset 0 0 0 2px var(--accent);
}

.write-us__file-upload {
  margin-top: 2.4rem;
}
