.title_xl {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 4.8rem;
}

.title_2xl {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5.4rem;
}

.headline--m {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 100%;
}

.headline--bold {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

.text--m {
  font-weight: 500;
  font-size: 2rem;
  line-height: 100%;
}

.text--m-m {
  font-weight: 500;
  font-size: 2rem;
  line-height: 28px;
}

.text-medium--m {
  font-weight: 500;
  font-size: 2rem;
  line-height: 28px;
}

.text-medium--sb {
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
}

.text--l-m {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 100%;
}

.text--l-b {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 100%;
}

.text--l-s {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

.text--base {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-base--m {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-base--semibold {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text_s--regular {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
